Repository nestjs/nest, pull requests merged in 2018-08, with the labels that each got.

#908 feature(@nestjs) expose default exception filters #860
  packages/core/exceptions/base-exception-filter.ts
  packages/core/exceptions/exceptions-handler.ts
  packages/core/index.ts
  packages/microservices/client/client-grpc.ts
  packages/microservices/client/client-mqtt.ts
  packages/microservices/client/client-nats.ts
  packages/microservices/client/client-proxy.ts
  packages/microservices/client/client-redis.ts
  packages/microservices/client/client-tcp.ts
  packages/microservices/container.ts
  packages/microservices/context/rpc-context-creator.ts
  packages/microservices/exceptions/base-rpc-exception-filter.ts
  packages/microservices/exceptions/errors/invalid-grpc-package.exception.ts
  packages/microservices/exceptions/errors/invalid-grpc-service.exception.ts
  packages/microservices/exceptions/errors/invalid-message.exception.ts
  packages/microservices/exceptions/errors/invalid-proto-definition.exception.ts
  packages/microservices/exceptions/index.ts
  packages/microservices/exceptions/rpc-exceptions-handler.ts
  packages/microservices/interfaces/client-metadata.interface.ts
  packages/microservices/interfaces/microservice-configuration.interface.ts
  packages/microservices/server/server-grpc.ts
  packages/microservices/server/server-mqtt.ts
  packages/microservices/server/server-nats.ts
  packages/microservices/server/server-redis.ts
  packages/microservices/server/server-tcp.ts
  packages/microservices/server/server.ts
  packages/microservices/test/client/client-grpc.spec.ts
  packages/microservices/test/server/server-grpc.spec.ts
  packages/websockets/exceptions/base-ws-exception-filter.ts
  packages/websockets/exceptions/index.ts
  packages/websockets/exceptions/ws-exceptions-handler.ts
  packages/websockets/index.ts
Labels: scope: core, scope: microservices, scope: websockets, type: feature :tada:

#904 feature(@nestjs/common) add configurable dynamic module (HttpModule)
  packages/common/http/http.constants.ts
  packages/common/http/http.module.ts
  packages/common/http/http.service.ts
Labels: scope: common, type: enhancement :wolf:

#903 feature(@nestjs/core) expose container to ModuleRef, add close()
  package.json
  packages/common/interfaces/nest-application-context.interface.ts
  packages/core/exceptions/base-exception-filter-context.ts
  packages/core/guards/guards-context-creator.ts
  packages/core/helpers/context-creator.ts
  packages/core/helpers/external-context-creator.ts
  packages/core/injector/container.ts
  packages/core/injector/injector.ts
  packages/core/injector/module-ref.ts
  packages/core/injector/module.ts
  packages/core/interceptors/interceptors-context-creator.ts
  packages/core/nest-application-context.ts
  packages/core/nest-application.ts
  packages/core/pipes/pipes-consumer.ts
  packages/core/pipes/pipes-context-creator.ts
  packages/core/router/router-exception-filters.ts
  packages/core/router/router-execution-context.ts
  packages/core/router/router-explorer.ts
  packages/core/router/routes-resolver.ts
  packages/core/scanner.ts
  packages/core/test/injector/module.spec.ts
  packages/microservices/nest-microservice.ts
Labels: scope: core, type: feature :tada:

#936 bugfix(@nestjs/common) fix multiple file interceptors issue
  packages/common/interceptors/file-fields.interceptor.ts
  packages/common/interceptors/files.interceptor.ts
  sample/15-mvc/src/app.controller.ts
Labels: scope: common, type: bug :sob:

#895 feature(@nestjs/microservices) load proto with proto-loader
  package-lock.json
  package.json
  packages/microservices/client/client-grpc.ts
  packages/microservices/interfaces/microservice-configuration.interface.ts
  packages/microservices/server/server-grpc.ts
  packages/microservices/test/client/test.proto
  sample/04-grpc/package-lock.json
  sample/04-grpc/package.json
Labels: scope: microservices, type: enhancement :wolf:
