Repository nestjs/nest, pull requests merged in 2018-10, with the labels that each got.

#1159 refactor(websockets) code cleanup, improvements, refactor
  packages/websockets/gateway-metadata-explorer.ts
  packages/websockets/interfaces/gateway-middleware.interface.ts
  packages/websockets/interfaces/hooks/index.ts
  packages/websockets/interfaces/hooks/on-gateway-connection.interface.ts
  packages/websockets/interfaces/hooks/on-gateway-disconnect.interface.ts
  packages/websockets/interfaces/hooks/on-gateway-init.interface.ts
  packages/websockets/interfaces/index.ts
  packages/websockets/interfaces/observable-socket-server.interface.ts
  packages/websockets/interfaces/web-socket-server.interface.ts
  packages/websockets/middleware-injector.ts
  packages/websockets/observable-socket.ts
  packages/websockets/socket-module.ts
  packages/websockets/test/middlewares-injector.spec.ts
  packages/websockets/test/web-sockets-controller.spec.ts
  packages/websockets/web-sockets-controller.ts
Labels: scope: websockets, type: code style

#1151 bugfix(core) make use of default assignments (DI)
  integration/injector/e2e/default-values.spec.ts
  integration/injector/src/defaults/core.service.ts
  integration/injector/src/defaults/defaults.module.ts
  integration/injector/src/defaults/defaults.service.ts
  packages/core/injector/injector.ts
Labels: scope: core, type: bug :sob:

#1144 bugfix(websockets) need to handle ws unexpected connection error and log it
  packages/websockets/adapters/ws-adapter.ts
Labels: scope: websockets, type: enhancement :wolf:

#1142 bugfix(core): Allow circular structures for dynamic module #678
  integration/injector/e2e/circular-structure-dynamic-modules.spec.ts
  integration/injector/src/circular-structure-dynamic-module/circular.module.ts
  integration/injector/src/circular-structure-dynamic-module/input.service.ts
  packages/core/injector/module-token-factory.ts
  packages/core/test/injector/module-token-factory.spec.ts
Labels: scope: core, type: bug :sob:

#1155 refactor clean as any
  packages/common/cache/cache.providers.ts
  packages/common/decorators/http/create-route-param-metadata.decorator.ts
  packages/common/test/cache/cache.module.ts
  packages/common/test/pipes/parse-int.pipe.spec.ts
  packages/core/adapters/express-adapter.ts
  packages/core/adapters/fastify-adapter.ts
  packages/core/exceptions/base-exception-filter-context.ts
  packages/core/exceptions/base-exception-filter.ts
  packages/core/guards/guards-context-creator.ts
  packages/core/interceptors/interceptors-context-creator.ts
  packages/core/nest-application-context.ts
  packages/core/nest-application.ts
  packages/core/nest-factory.ts
  packages/core/pipes/pipes-context-creator.ts
  packages/core/router/routes-resolver.ts
  packages/core/test/injector/module-token-factory.spec.ts
  packages/core/test/middleware/middlewares-module.spec.ts
  packages/microservices/client/client-proxy.ts
  packages/microservices/server/server-nats.ts
  packages/microservices/server/server.ts
Labels: type: enhancement :wolf:

#1188 bugfix(core) change initial context arguments from null to undefined
  packages/core/helpers/context-utils.ts
  packages/core/test/helpers/context-utils.spec.ts
  packages/core/test/router/router-execution-context.spec.ts
Labels: scope: core, type: enhancement :wolf:

#1208 feature(common): accept export abstract class
  packages/common/interfaces/abstract.interface.ts
  packages/common/interfaces/index.ts
  packages/common/interfaces/modules/module-metadata.interface.ts
Labels: scope: core, type: enhancement :wolf:

#1163 feature(core) instantiate class dynamically (ModuleRef)
  package.json
  packages/core/errors/exceptions/invalid-class.exception.ts
  packages/core/errors/messages.ts
  packages/core/injector/container-scanner.ts
  packages/core/injector/injector.ts
  packages/core/injector/module-ref.ts
  packages/core/injector/module.ts
  packages/core/nest-application-context.ts
Labels: scope: core, type: feature :tada:

#1214 feature(common) update axios dependency
  packages/common/package.json
Labels: scope: common

#1170 feature(microservices) RabbitMQ support
  integration/docker-compose.yml
  integration/hello-world/package-lock.json
  integration/microservices/e2e/sum-rmq.spec.ts
  integration/microservices/package-lock.json
  integration/microservices/package.json
  integration/microservices/src/disconnected.controller.ts
  integration/microservices/src/rmq/rmq-broadcast.controller.ts
  integration/microservices/src/rmq/rmq.controller.ts
  package-lock.json
  package.json
  packages/common/enums/transport.enum.ts
  packages/common/interfaces/microservices/client-metadata.interface.ts
  packages/common/interfaces/microservices/microservice-configuration.interface.ts
  packages/microservices/client/client-proxy-factory.ts
  packages/microservices/client/client-rmq.ts
  packages/microservices/client/constants.ts
  packages/microservices/constants.ts
  packages/microservices/enums/transport.enum.ts
  packages/microservices/interfaces/client-metadata.interface.ts
  packages/microservices/interfaces/microservice-configuration.interface.ts
  packages/microservices/server/server-factory.ts
  packages/microservices/server/server-rmq.ts
  packages/microservices/test/client/client-proxy-factory.spec.ts
  packages/microservices/test/client/client-rmq.spec.ts
  packages/microservices/test/server/server-rmq.spec.ts
  packages/microservices/test/server/server-tcp.spec.ts
Labels: scope: microservices, type: feature :tada:

#1143 feature(core): Add module context name to UnknownDependenciesMessage
  packages/core/errors/exceptions/undefined-dependency.exception.ts
  packages/core/errors/exceptions/unknown-dependencies.exception.ts
  packages/core/errors/messages.ts
  packages/core/injector/injector.ts
  packages/core/test/errors/test/messages.spec.ts
Labels: scope: core, type: enhancement :wolf:
