Repository nestjs/nest, pull requests merged in 2018-11, with the labels that each got.

#1287 Add communication groups for Chinese developers
  readme_zh.md
Labels: type: discussion 🔥

#1248 fix(core/common): allow to use symbol token in the module exports
  packages/common/utils/shared.utils.ts
  packages/core/injector/module.ts
Labels: scope: core, type: bug :sob:

#1324 bugfix(core) use direct class instance
  packages/core/injector/injector.ts
  packages/core/test/injector/injector.spec.ts
Labels: scope: core, type: bug :sob:

#1325 improvement(core) use application ref host instead of http ref
  packages/common/cache/interceptors/cache.interceptor.ts
  packages/core/exceptions/base-exception-filter.ts
  packages/core/exceptions/exceptions-handler.ts
Labels: scope: core, type: enhancement :wolf:

#1206 refactor: simplified if
  packages/common/services/logger.service.ts
  packages/common/test/utils/shared.utils.spec.ts
  packages/common/utils/shared.utils.ts
  packages/core/exceptions/base-exception-filter-context.ts
  packages/core/guards/guards-context-creator.ts
  packages/core/helpers/external-context-creator.ts
  packages/core/interceptors/interceptors-context-creator.ts
  packages/core/middleware/middleware-module.ts
  packages/core/nest-application.ts
  packages/core/pipes/pipes-context-creator.ts
  packages/core/router/router-execution-context.ts
  packages/microservices/client/client-proxy.ts
Labels: type: code style
