Repository nestjs/nest, pull requests merged in 2018-12, with the labels that each got.

#1348 feature(common) add validation error factory (ValidationPipe)
  packages/common/index.ts
  packages/common/interfaces/external/validation-error.interface.ts
  packages/common/interfaces/index.ts
  packages/common/pipes/validation.pipe.ts
Labels: scope: common, type: feature :tada:

#1347 feature(common) add async support (HttpModule) and extraProviders
  packages/common/cache/cache.module.ts
  packages/common/cache/interfaces/cache-module.interface.ts
  packages/common/http/http.constants.ts
  packages/common/http/http.module.ts
  packages/common/http/index.ts
  packages/common/http/interfaces/http-module.interface.ts
  packages/common/http/interfaces/index.ts
Labels: scope: common, type: feature :tada:

#1346 bugfix(ws/microservices): add catchError() to observables
  integration/microservices/e2e/sum-nats.spec.ts
  integration/microservices/src/nats/nats.controller.ts
  integration/websockets/e2e/error-gateway.spec.ts
  integration/websockets/src/error.gateway.ts
  packages/microservices/context/rpc-proxy.ts
  packages/microservices/test/context/rpc-proxy.spec.ts
  packages/websockets/context/ws-proxy.ts
  packages/websockets/test/context/ws-proxy.spec.ts
Labels: scope: microservices, scope: websockets, type: bug :sob:

#1345 bugfix(common) invalid metadata inheritance with custom providers
  packages/common/decorators/core/inject.decorator.ts
Labels: scope: common, type: bug :sob:

#1344 bugfix(common): custom exception body #1339
  packages/common/utils/http-exception-body.util.ts
Labels: scope: common, type: bug :sob:

#1271 feat(grpc): added option for proto-loader
  packages/microservices/client/client-grpc.ts
  packages/microservices/constants.ts
  packages/microservices/interfaces/microservice-configuration.interface.ts
  packages/microservices/server/server-grpc.ts
Labels: scope: microservices, type: enhancement :wolf:

#1328 bugfix(core) fix interceptors execution flow
  packages/common/cache/interceptors/cache.interceptor.ts
  packages/common/files/interceptors/file-fields.interceptor.ts
  packages/common/files/interceptors/file.interceptor.ts
  packages/common/files/interceptors/files.interceptor.ts
  packages/common/index.ts
  packages/common/interfaces/features/nest-interceptor.interface.ts
  packages/common/serializer/class-serializer.interceptor.ts
  packages/common/test/files/interceptors/file-fields.interceptor.spec.ts
  packages/common/test/files/interceptors/file.interceptor.spec.ts
  packages/common/test/files/interceptors/files.interceptor.spec.ts
  packages/core/interceptors/interceptors-consumer.ts
  packages/core/test/interceptors/interceptors-consumer.spec.ts
  sample/01-cats-app/src/common/interceptors/exception.interceptor.ts
  sample/01-cats-app/src/common/interceptors/logging.interceptor.ts
  sample/01-cats-app/src/common/interceptors/timeout.interceptor.ts
  sample/01-cats-app/src/common/interceptors/transform.interceptor.ts
  sample/03-microservices/src/common/interceptors/logging.interceptor.ts
  sample/10-fastify/src/common/interceptors/exception.interceptor.ts
  sample/10-fastify/src/common/interceptors/logging.interceptor.ts
  sample/10-fastify/src/common/interceptors/transform.interceptor.ts
Labels: scope: core, type: bug :sob:

#1406 refactor() simplify middleware API
  packages/common/index.ts
  packages/common/interfaces/middleware/index.ts
  packages/common/interfaces/middleware/middleware-config-proxy.interface.ts
  packages/common/interfaces/middleware/middleware.interface.ts
  packages/common/interfaces/middleware/nest-middleware.interface.ts
  packages/common/test/utils/bind-resolve-values.util.spec.ts
  packages/common/utils/bind-resolve-values.util.ts
  packages/core/middleware/builder.ts
  packages/core/middleware/middleware-module.ts
  packages/core/test/middleware/builder.spec.ts
  packages/core/test/middleware/container.spec.ts
  packages/core/test/middleware/middlewares-module.spec.ts
  packages/core/test/middleware/resolver.spec.ts
  sample/01-cats-app/src/common/middlewares/logger.middleware.ts
  sample/10-fastify/src/common/middleware/logger.middleware.ts
Labels: scope: common, scope: core, type: enhancement :wolf:
