Repository nestjs/nest, pull requests merged in 2018-07, with the labels that each got.

#877 refactor(): reduce complexity of NestFactory.create signature
  packages/core/nest-factory.ts
Labels: scope: core, type: enhancement :wolf:

#878 chore(): rename prepublish commands to prepare
  package.json
Labels: type: build

#642 chore: cache node_modules
  .travis.yml
Labels: type: build

#644 chore: add Node.js 10
  .travis.yml
  gulpfile.js
  package.json
Labels: type: build

#900 bugfix(@nestjs/core) enable dynamic modules recursive imports #671
  packages/common/utils/random-string-generator.util.ts
  packages/core/scanner.ts
Labels: scope: core, type: bug :sob:

#901 bugfix(@nestjs/common) fix mixin testing issue #854
  packages/common/decorators/core/component.decorator.ts
Labels: scope: common, type: bug :sob:

#907 bugfix(@nestjs/core) inherited metadata is not applied #879
  packages/core/scanner.ts
Labels: scope: core, type: bug :sob:

#902 enhancement(@nestjs/common) add validation to @catch() decorator
  packages/common/decorators/core/catch.decorator.ts
  packages/common/decorators/core/inject.decorator.ts
  packages/common/decorators/core/reflect-metadata.decorator.ts
  packages/common/test/decorators/catch.decorator.spec.ts
  sample/01-cats-app/src/cats/cats.controller.ts
Labels: scope: common, type: enhancement :wolf:

#906 bugfix(@nestjs/common) data parameter is not required (custom decorators)
  packages/common/decorators/http/create-route-param-metadata.decorator.ts
Labels: scope: common, type: bug :sob:
