Repository nestjs/nest, pull requests merged in 2019-08, with the labels that each got.

#2714 build(): Refactor Gulpfile to TS
  gulpfile.js
  package-lock.json
  package.json
  sample/02-gateways/tsconfig.json
  sample/05-sql-typeorm/tsconfig.json
  sample/15-mvc/tsconfig.json
  sample/17-mvc-fastify/tsconfig.json
  tools/gulp/config.ts
  tools/gulp/gulpfile.ts
  tools/gulp/tasks/clean.ts
  tools/gulp/tasks/copy-misc.ts
  tools/gulp/tasks/move.ts
  tools/gulp/tasks/packages.ts
  tools/gulp/tasks/samples.ts
  tools/gulp/tsconfig.json
  tools/gulp/util/task-helpers.ts
Labels: type: build

#2750 chore(samples): fix docker compose duplicate key
  sample/07-sequelize/docker-compose.yml
Labels: scope: sample, status: done 👏

#2800 bugfix: Updated the location of the 'PreservePath' boolean within the…
  packages/platform-express/multer/interfaces/multer-options.interface.ts
Labels: scope: platform, status: done 👏

#2790 fix(core): Do not call onModuleInit if is null
  integration/hooks/e2e/on-app-boostrap.spec.ts
  integration/hooks/e2e/on-module-destroy.spec.ts
  integration/hooks/e2e/on-module-init.spec.ts
  packages/core/hooks/on-app-bootstrap.hook.ts
  packages/core/hooks/on-app-shutdown.hook.ts
  packages/core/hooks/on-module-destroy.hook.ts
  packages/core/hooks/on-module-init.hook.ts
Labels: scope: core, status: done 👏

#2708 bugfix(microservices): update isTerminated during close
  packages/microservices/nest-microservice.ts
Labels: scope: microservices, status: done 👏

#2725 refactor(core): more descriptive unknown element exception
  packages/core/errors/exceptions/unknown-element.exception.ts
  packages/core/injector/container-scanner.ts
Labels: good first PR :+1:, scope: core, type: enhancement :wolf:

#2796 feature(common) move createResponseBody to HttpException
  packages/common/exceptions/bad-gateway.exception.ts
  packages/common/exceptions/bad-request.exception.ts
  packages/common/exceptions/conflict.exception.ts
  packages/common/exceptions/forbidden.exception.ts
  packages/common/exceptions/gateway-timeout.exception.ts
  packages/common/exceptions/gone.exception.ts
  packages/common/exceptions/http.exception.ts
  packages/common/exceptions/im-a-teapot.exception.ts
  packages/common/exceptions/internal-server-error.exception.ts
  packages/common/exceptions/method-not-allowed.exception.ts
  packages/common/exceptions/not-acceptable.exception.ts
  packages/common/exceptions/not-found.exception.ts
  packages/common/exceptions/not-implemented.exception.ts
  packages/common/exceptions/payload-too-large.exception.ts
  packages/common/exceptions/request-timeout.exception.ts
  packages/common/exceptions/service-unavailable.exception.ts
  packages/common/exceptions/unauthorized.exception.ts
  packages/common/exceptions/unprocessable-entity.exception.ts
  packages/common/exceptions/unsupported-media-type.exception.ts
  packages/common/test/exceptions/http.exception.spec.ts
  packages/common/test/utils/http-exception-body.util.spec.ts
  packages/common/utils/http-exception-body.util.ts
Labels: scope: common, status: done 👏, type: enhancement :wolf:

#2567 feat(core): Add beforeApplicationShutdown hook
  integration/hooks/e2e/before-app-shutdown.spec.ts
  integration/hooks/e2e/enable-shutdown-hook.spec.ts
  integration/hooks/e2e/lifecycle-hook-order.spec.ts
  integration/hooks/e2e/on-app-shutdown.spec.ts
  integration/hooks/src/enable-shutdown-hooks-main.ts
  packages/common/index.ts
  packages/common/interfaces/before-application-shutdown.interface.ts
  packages/common/interfaces/index.ts
  packages/core/constants.ts
  packages/core/hooks/before-app-shutdown.hook.ts
  packages/core/hooks/index.ts
  packages/core/nest-application-context.ts
  packages/core/nest-application.ts
Labels: scope: common, scope: core, status: done 👏, type: enhancement :wolf:

#2770 Added seconds to logger timestamp
  packages/common/services/logger.service.ts
Labels: scope: common, type: enhancement :wolf:

#2805 bugfix(microservices): pass all arguments to request-scoped proxies
  integration/graphql/package-lock.json
  integration/graphql/package.json
  integration/typegraphql/package-lock.json
  integration/typegraphql/package.json
  package-lock.json
  package.json
  packages/microservices/listeners-controller.ts
  packages/microservices/test/listeners-controller.spec.ts
  sample/12-graphql-apollo/package.json
  sample/13-mongo-typeorm/package.json
  sample/22-graphql-prisma/package.json
  sample/22-graphql-prisma/yarn.lock
  sample/23-type-graphql/package-lock.json
  sample/23-type-graphql/package.json
Labels: scope: microservices, status: done 👏, type: bug :sob:

#2632 feature(redirect decorator) add redirect decorator
  packages/common/decorators/http/index.ts
  packages/common/decorators/http/redirect.decorator.ts
  packages/common/interfaces/http/http-server.interface.ts
  packages/common/test/decorators/redirect.decorator.spec.ts
  packages/core/adapters/http-adapter.ts
  packages/core/helpers/handler-metadata-storage.ts
  packages/core/router/router-execution-context.ts
  packages/core/router/router-response-controller.ts
  packages/core/test/router/router-execution-context.spec.ts
  packages/core/test/utils/noop-adapter.spec.ts
  packages/platform-express/adapters/express-adapter.ts
  packages/platform-fastify/adapters/fastify-adapter.ts
Labels: scope: common, status: done 👏, type: enhancement :wolf:

#2814 feat(microservices) emit() should use hot observables
  .circleci/config.yml
  .travis.yml
  CONTRIBUTING.md
  package.json
  packages/microservices/client/client-proxy.ts
  packages/microservices/test/client/client-proxy.spec.ts
  sample/07-sequelize/package.json
  sample/07-sequelize/src/database/database.providers.ts
  scripts/prepare.sh
  scripts/run-integration.sh
Labels: scope: microservices

#2682 feat(core): add resolve method to load scoped classes
  integration/injector/e2e/scoped-instances.spec.ts
  integration/injector/src/scoped/scoped.controller.ts
  integration/injector/src/scoped/scoped.module.ts
  integration/injector/src/scoped/scoped.service.ts
  integration/injector/src/scoped/transient.service.ts
  packages/common/interfaces/nest-application-context.interface.ts
  packages/core/errors/exceptions/invalid-class-scope.exception.ts
  packages/core/errors/exceptions/unknown-element.exception.ts
  packages/core/errors/messages.ts
  packages/core/helpers/index.ts
  packages/core/injector/container-scanner.ts
  packages/core/injector/index.ts
  packages/core/injector/module-ref.ts
  packages/core/injector/module.ts
  packages/core/nest-application-context.ts
  packages/core/nest-application.ts
Labels: scope: core, type: feature :tada:

#2406 feat(@nestjs/core): execute middleware of dependent modules first. #1451
  integration/hello-world/e2e/middleware-execute-order.spec.ts
  packages/core/injector/module.ts
  packages/core/middleware/middleware-module.ts
  packages/core/test/injector/module.spec.ts
Labels: scope: core, type: enhancement :wolf:
