Repository nestjs/nest, pull requests merged in 2019-10, with the labels that each got.

#3069 feat(core) add getContext to RpcArgumentsHost
  packages/common/interfaces/features/arguments-host.interface.ts
  packages/core/helpers/execution-context-host.ts
  packages/core/test/helpers/execution-context-host.spec.ts
Labels: scope: core, type: enhancement :wolf:

#3154 ci(): Lint commit messages
  .circleci/config.yml
  .commitlintrc.json
  package-lock.json
  package.json
Labels: type: ci :wrench:, type: feature :tada:

#3185 ci: Run sample e2e and unit test
  .circleci/config.yml
  package.json
  sample/01-cats-app/package-lock.json
  sample/01-cats-app/package.json
  sample/02-gateways/package-lock.json
  sample/02-gateways/package.json
  sample/03-microservices/package.json
  sample/04-grpc/package.json
  sample/05-sql-typeorm/package.json
  sample/06-mongoose/package.json
  sample/07-sequelize/package.json
  sample/08-webpack/package.json
  sample/09-babel-example/package-lock.json
  sample/09-babel-example/package.json
  sample/10-fastify/package.json
  sample/11-swagger/package.json
  sample/12-graphql-apollo/package.json
  sample/13-mongo-typeorm/package.json
  sample/14-mongoose-base/package.json
  sample/15-mvc/package.json
  sample/16-gateways-ws/package-lock.json
  sample/16-gateways-ws/package.json
  sample/17-mvc-fastify/package.json
  sample/18-context/package.json
  sample/19-auth-jwt/package-lock.json
  sample/19-auth-jwt/package.json
  sample/20-cache/package.json
  sample/21-serializer/package.json
  sample/22-graphql-prisma/package.json
  sample/23-type-graphql/package.json
  sample/24-serve-static/package.json
  sample/25-dynamic-modules/package-lock.json
  sample/25-dynamic-modules/package.json
  sample/25-dynamic-modules/src/app.controller.spec.ts
  sample/25-dynamic-modules/src/config/config.service.spec.ts
  tools/gulp/tasks/samples.ts
Labels: type: ci :wrench:

#3278 feat(common): Added class-transformer excludeExtraneousValues flag
  packages/common/interfaces/external/class-transform-options.interface.ts
Labels: scope: common, type: enhancement :wolf:
