Repository nestjs/nest, pull requests merged in 2019-11, with the labels that each got.

#3126 feature(platform-socket.io): pass ack to message handler
  packages/platform-socket.io/adapters/io-adapter.ts
Labels: scope: websockets

#3249 feat(): add ip route param
  packages/common/decorators/http/route-params.decorator.ts
  packages/common/enums/route-paramtypes.enum.ts
  packages/core/router/route-params-factory.ts
  packages/core/test/router/route-params-factory.spec.ts
Labels: scope: common, scope: core, type: feature :tada:

#3350 fix(common): Single `stdout.write()` call per logging in default `Logger`
  packages/common/services/logger.service.ts
Labels: scope: common, type: enhancement :wolf:

#3363 fix(core): use module class to generate hash instead of name
  packages/core/injector/module-token-factory.ts
  packages/core/test/injector/module-token-factory.spec.ts
Labels: scope: core

#3450 feat(cache-manager): extend cache-store interface
  packages/common/cache/interfaces/cache-manager.interface.ts
Labels: scope: common, type: enhancement :wolf:

#3407 Add HTTP 424 failed dependency status code
  packages/common/enums/http-status.enum.ts
Labels: scope: common, type: enhancement :wolf:
