Repository nestjs/nest, pull requests merged in 2019-09, with the labels that each got.

#2911 docs(samples) add 25-dynamic-modules
  sample/25-dynamic-modules/.gitignore
  sample/25-dynamic-modules/.prettierrc
  sample/25-dynamic-modules/README.md
  sample/25-dynamic-modules/config/development.env
  sample/25-dynamic-modules/nest-cli.json
  sample/25-dynamic-modules/package-lock.json
  sample/25-dynamic-modules/package.json
  sample/25-dynamic-modules/src/app.controller.spec.ts
  sample/25-dynamic-modules/src/app.controller.ts
  sample/25-dynamic-modules/src/app.module.ts
  sample/25-dynamic-modules/src/app.service.ts
  sample/25-dynamic-modules/src/config/config.module.ts
  sample/25-dynamic-modules/src/config/config.service.spec.ts
  sample/25-dynamic-modules/src/config/config.service.ts
  sample/25-dynamic-modules/src/config/constants.ts
  sample/25-dynamic-modules/src/config/interfaces/config-options.interface.ts
  sample/25-dynamic-modules/src/config/interfaces/envconfig.interface.ts
  sample/25-dynamic-modules/src/config/interfaces/index.ts
  sample/25-dynamic-modules/src/main.ts
  sample/25-dynamic-modules/tsconfig.build.json
  sample/25-dynamic-modules/tsconfig.json
  sample/25-dynamic-modules/tslint.json
Labels: type: example

#2493 feature(core): add ExecutionContext, ArgumentsHost type check #1581
  packages/common/index.ts
  packages/common/interfaces/features/arguments-host.interface.ts
  packages/core/guards/guards-consumer.ts
  packages/core/helpers/execution-context-host.ts
  packages/core/helpers/external-proxy.ts
  packages/core/helpers/messages.ts
  packages/core/interceptors/interceptors-consumer.ts
  packages/core/router/router-execution-context.ts
  packages/microservices/context/rpc-context-creator.ts
  packages/microservices/context/rpc-proxy.ts
  packages/microservices/listeners-controller.ts
  packages/websockets/context/ws-context-creator.ts
  packages/websockets/context/ws-proxy.ts
Labels: scope: core, status: wip ⚡️, type: feature :tada:

#2843 refactor(common) export NestApplicationOptions interface from index
  packages/common/index.ts
  packages/common/interfaces/index.ts
Labels: scope: common, type: enhancement :wolf:

#2915 feat(microservices) add getClientByServiceName to client grpc
  packages/microservices/client/client-grpc.ts
  packages/microservices/interfaces/client-grpc.interface.ts
Labels: scope: microservices, type: enhancement :wolf:

#2885 fix(common): `ParseIntPipe` handle number value
  packages/common/pipes/parse-int.pipe.ts
Labels: scope: common, type: enhancement :wolf:

#2889 bugfix(microservices) respect socketOptions for rabbitmq tls
  packages/microservices/server/server-rmq.ts
Labels: scope: microservices, type: bug :sob:

#2990 bugfix(microservices) fix rmq client socketOptions
  packages/microservices/client/client-rmq.ts
Labels: scope: microservices, status: done 👏, type: bug :sob:

#3043 feat(core) add more utility reflector methods
  packages/core/services/reflector.service.ts
  packages/core/test/services/reflector.service.spec.ts
Labels: scope: core, type: enhancement :wolf:

#3041 refactor() remove optional package
  packages/core/helpers/optional-require.ts
  packages/core/nest-application.ts
  packages/core/package.json
  packages/microservices/nest-microservice.ts
  packages/microservices/package.json
Labels: scope: core, scope: microservices, type: deps
