Repository nestjs/nest, pull requests merged in 2019-03, with the labels that each got.

#1600 [6.0.0-next] fix(@nestjs/core) process memory leak on application shutdown in e2e tests
  integration/hooks/e2e/on-app-shutdown.spec.ts
  integration/hooks/src/main.ts
  packages/common/enums/index.ts
  packages/common/enums/shutdown-signal.enum.ts
  packages/common/interfaces/nest-application-context.interface.ts
  packages/core/constants.ts
  packages/core/nest-application-context.ts
  packages/core/nest-application.ts
Labels: status: done 👏, type: bug :sob:

#1695 bugfix(core): invalid context object (proxy) #1690
  packages/core/nest-factory.ts
Labels: scope: core, type: bug :sob:

#1722 bugfix(core/testing): override provider only if exists in the scope
  packages/core/injector/module.ts
  packages/core/test/injector/module.spec.ts
  packages/testing/testing-module.builder.ts
Labels: scope: core, scope: testing, status: done 👏, type: bug :sob:

#1840 fix dispatchEvent
  packages/microservices/client/client-tcp.ts
Labels: scope: microservices, status: wip ⚡️, type: bug :sob:

#1805 bugfix(): fix usage of ExternalContextCreator in NestApplicationConte…
  packages/core/exceptions/external-exception-filter-context.ts
  packages/core/test/helpers/external-context-creator.spec.ts
Labels: scope: core, status: done 👏, type: potential issue 💔

#1795 bugfix(microservices): let use unicode characters in TCP Microservice…
  package.json
  packages/microservices/client/client-tcp.ts
  packages/microservices/constants.ts
  packages/microservices/json-socket.ts
  packages/microservices/server/server-tcp.ts
  packages/microservices/test/client/client-tcp.spec.ts
  packages/microservices/test/json-socket/connection.spec.ts
  packages/microservices/test/json-socket/data/long-payload-with-special-chars.ts
  packages/microservices/test/json-socket/helpers.ts
  packages/microservices/test/json-socket/listener-chaining.spec.ts
  packages/microservices/test/json-socket/message-parsing.spec.ts
  packages/microservices/test/server/server-tcp.spec.ts
Labels: scope: microservices, type: bug :sob:, type: enhancement :wolf:
