Repository nestjs/nest, pull requests merged in 2019-12, with the labels that each got.

#3543 fix(websockets): add missing options, improve comments, add generic
  packages/websockets/decorators/socket-gateway.decorator.ts
  packages/websockets/interfaces/gateway-metadata.interface.ts
Labels: scope: websockets

#3359 add boolean on KafkaConfig interface for easily support ssl
  packages/common/interfaces/external/kafka-options.interface.ts
  packages/microservices/external/kafka.interface.ts
Labels: scope: microservices, type: enhancement :wolf:

#3641 sample(): add queues and schedule samples
  sample/25-dynamic-modules/src/app.service.ts
  sample/26-queues/.gitignore
  sample/26-queues/.prettierrc
  sample/26-queues/README.md
  sample/26-queues/docker-compose.yml
  sample/26-queues/nest-cli.json
  sample/26-queues/package-lock.json
  sample/26-queues/package.json
  sample/26-queues/src/app.controller.spec.ts
  sample/26-queues/src/app.controller.ts
  sample/26-queues/src/app.module.ts
  sample/26-queues/src/app.service.ts
  sample/26-queues/src/audio/audio.controller.ts
  sample/26-queues/src/audio/audio.module.ts
  sample/26-queues/src/audio/audio.processor.ts
  sample/26-queues/src/main.ts
  sample/26-queues/tsconfig.build.json
  sample/26-queues/tsconfig.json
  sample/26-queues/tslint.json
  sample/27-scheduling/.gitignore
  sample/27-scheduling/.prettierrc
  sample/27-scheduling/README.md
  sample/27-scheduling/nest-cli.json
  sample/27-scheduling/package-lock.json
  sample/27-scheduling/package.json
  sample/27-scheduling/src/app.controller.spec.ts
  sample/27-scheduling/src/app.controller.ts
  sample/27-scheduling/src/app.module.ts
  sample/27-scheduling/src/app.service.ts
  sample/27-scheduling/src/main.ts
  sample/27-scheduling/src/tasks/tasks.module.ts
  sample/27-scheduling/src/tasks/tasks.service.ts
  sample/27-scheduling/tsconfig.build.json
  sample/27-scheduling/tsconfig.json
  sample/27-scheduling/tslint.json
Labels: scope: sample

#3653 Fix unknown dependency exception
  integration/injector/e2e/property-injection.spec.ts
  integration/injector/src/properties/properties.module.ts
  integration/injector/src/properties/properties.service.ts
  packages/core/errors/messages.ts
  packages/core/injector/injector.ts
Labels: scope: core
