Repository nestjs/nest, pull requests merged in 2019-02, with the labels that each got.

#1385 feature(core): allow Array in request mapping decorator
  packages/common/decorators/http/request-mapping.decorator.ts
  packages/common/interfaces/request-mapping-metadata.interface.ts
  packages/common/test/decorators/request-mapping.decorator.spec.ts
  packages/common/test/decorators/route-params.decorator.spec.ts
  packages/core/middleware/routes-mapper.ts
  packages/core/router/router-explorer.ts
  packages/core/test/router/router-explorer.spec.ts
Labels: scope: core, type: enhancement :wolf:

#1545 chore(readme_zh) add qq group
  readme_zh.md
Labels: type: docs :page_facing_up:

#1576 bugfix(microservices): remove reply_queue in rabbitmq client
  packages/microservices/client/client-rmq.ts
  packages/microservices/client/constants.ts
Labels: scope: microservices, type: bug :sob:

#1563 fix(@nestjs/core): Display Symbol in UnknownDependencyException
  packages/core/errors/exceptions/unknown-dependencies.exception.ts
  packages/core/errors/messages.ts
  packages/core/injector/injector.ts
  packages/core/test/errors/test/messages.spec.ts
Labels: scope: core, status: wip ⚡️, type: bug :sob:
