Repository nestjs/nest, pull requests merged in 2020-02, with the labels that each got.

#3986 bugfix (@nestjs/microservices) pass replyTo to deserializer
  packages/microservices/client/client-nats.ts
  packages/microservices/server/server-nats.ts
Labels: scope: microservices, type: enhancement :wolf:

#3590 fix(core): correct redirect decorator metadata interface
  packages/core/router/router-response-controller.ts
  packages/core/test/router/router-response-controller.spec.ts
Labels: scope: core

#4016 fix(common): http service should not cancel when response type is stream
  packages/common/http/http.service.ts
Labels: scope: common

#2954 feat(microservices) add matchMqttPattern to server mqtt
  packages/microservices/constants.ts
  packages/microservices/server/server-mqtt.ts
  packages/microservices/server/server.ts
  packages/microservices/test/server/server-mqtt.spec.ts
Labels: scope: microservices, type: enhancement :wolf:

#3932 feat(common): ParseIntPipe has an optional exceptionfactory
  packages/common/pipes/parse-int.pipe.ts
  packages/common/test/pipes/parse-int.pipe.spec.ts
Labels: scope: common, type: enhancement :wolf:

#4083 feat(common): add http version not supported exception
  packages/common/exceptions/http-version-not-supported.exception.ts
Labels: scope: common, type: enhancement :wolf:

#3071 feat(microservices) make packets more lightweight
  packages/microservices/server/server.ts
  packages/microservices/test/client/client-mqtt.spec.ts
  packages/microservices/test/client/client-nats.spec.ts
  packages/microservices/test/client/client-redis.spec.ts
  packages/microservices/test/client/client-tcp.spec.ts
  packages/microservices/test/server/server.spec.ts
Labels: scope: microservices, type: enhancement :wolf:

#4110 feat(common): transform primitives (number, bool) with validation pipe
  packages/common/pipes/validation.pipe.ts
  packages/common/test/pipes/validation.pipe.spec.ts
Labels: scope: common, type: enhancement :wolf:

#4113 feat(common): add parse bool pipe and parse array pipe
  packages/common/pipes/index.ts
  packages/common/pipes/parse-array.pipe.ts
  packages/common/pipes/parse-bool.pipe.ts
  packages/common/test/pipes/parse-array.pipe.spec.ts
  packages/common/test/pipes/parse-bool.pipe.spec.ts
Labels: scope: common, type: feature :tada:

#3040 refactor(microservices) use more descriptive channel names
  integration/microservices/e2e/sum-mqtt.spec.ts
  integration/microservices/src/mqtt/mqtt.controller.ts
  integration/mongoose/src/app.module.ts
  integration/mongoose/src/async-class-options.module.ts
  integration/mongoose/src/async-existing-options.module.ts
  integration/mongoose/src/async-options.module.ts
  integration/typegraphql/src/common/interceptors/data.interceptor.ts
  package.json
  packages/microservices/client/client-mqtt.ts
  packages/microservices/client/client-redis.ts
  packages/microservices/constants.ts
  packages/microservices/server/server-mqtt.ts
  packages/microservices/server/server-nats.ts
  packages/microservices/server/server-redis.ts
  packages/microservices/server/server.ts
  packages/microservices/test/client/client-mqtt.spec.ts
  packages/microservices/test/client/client-redis.spec.ts
  packages/microservices/test/server/server-mqtt.spec.ts
  packages/microservices/test/server/server-redis.spec.ts
Labels: scope: microservices, type: enhancement :wolf:
