Repository nestjs/nest, pull requests merged in 2020-05, with the labels that each got.

#4699 fix(common): Allow users to provide a cancellation token to http service
  packages/common/http/http.service.ts
Labels: scope: common, type: enhancement :wolf:

#4629 feat(common): add a default-value pipe
  packages/common/pipes/default-value.pipe.ts
  packages/common/pipes/index.ts
  packages/common/test/pipes/default-value.pipe.spec.ts
Labels: scope: common, type: enhancement :wolf:

#4587 fix(core): improve error message when imported module is nil
  packages/core/errors/exceptions/invalid-module.exception.ts
  packages/core/errors/exceptions/undefined-forwardref.exception.ts
  packages/core/errors/exceptions/undefined-module.exception.ts
  packages/core/errors/messages.ts
  packages/core/injector/container.ts
  packages/core/scanner.ts
  packages/core/test/errors/test/messages.spec.ts
  packages/core/test/scanner.spec.ts
Labels: scope: core, type: enhancement :wolf:

#4768 feature(microservice): decorator MessagePattern get new attribute 'transport'
  packages/microservices/constants.ts
  packages/microservices/decorators/event-pattern.decorator.ts
  packages/microservices/decorators/message-pattern.decorator.ts
  packages/microservices/interfaces/custom-transport-strategy.interface.ts
  packages/microservices/listener-metadata-explorer.ts
  packages/microservices/listeners-controller.ts
  packages/microservices/server/server-grpc.ts
  packages/microservices/server/server-kafka.ts
  packages/microservices/server/server-mqtt.ts
  packages/microservices/server/server-nats.ts
  packages/microservices/server/server-redis.ts
  packages/microservices/server/server-rmq.ts
  packages/microservices/server/server-tcp.ts
  packages/microservices/test/listeners-controller.spec.ts
  packages/microservices/test/listeners-metadata-explorer.spec.ts
  sample/28-hybrid-app-microservices/.eslintrc.js
  sample/28-hybrid-app-microservices/.gitignore
  sample/28-hybrid-app-microservices/package-lock.json
  sample/28-hybrid-app-microservices/package.json
  sample/28-hybrid-app-microservices/src/app.module.ts
  sample/28-hybrid-app-microservices/src/common/kafka-options.ts
  sample/28-hybrid-app-microservices/src/main.ts
  sample/28-hybrid-app-microservices/src/math/math.constants.ts
  sample/28-hybrid-app-microservices/src/math/math.controller.ts
  sample/28-hybrid-app-microservices/src/math/math.module.ts
  sample/28-hybrid-app-microservices/tsconfig.build.json
  sample/28-hybrid-app-microservices/tsconfig.json
Labels: scope: microservices, type: enhancement :wolf:

#4390 feat(microservice): hybrid microservice can inherit config
  packages/common/index.ts
  packages/common/interfaces/index.ts
  packages/common/interfaces/microservices/nest-hybrid-application-options.interface.ts
  packages/common/interfaces/nest-application.interface.ts
  packages/core/nest-application.ts
  packages/core/test/nest-application.spec.ts
Labels: scope: microservices, type: feature :tada:
