Repository nestjs/nest, pull requests merged in 2020-11, with the labels that each got.

#5609 feature(microservices): update acceptable types in RabbitMq urls
  packages/microservices/client/client-rmq.ts
  packages/microservices/external/rmq-url.interface.ts
  packages/microservices/interfaces/microservice-configuration.interface.ts
  packages/microservices/server/server-rmq.ts
Labels: scope: microservices, type: enhancement :wolf:

#5295 fix(test): stricten unit test file pattern
  sample/01-cats-app/package.json
  sample/09-babel-example/package.json
  sample/19-auth-jwt/package.json
  sample/25-dynamic-modules/package.json
  sample/26-queues/package.json
  sample/27-scheduling/package.json
Labels: type: example

#5189 Use .toString() as functions' representation, fix #5140
  packages/core/injector/module-token-factory.ts
Labels: scope: core, type: enhancement :wolf:

#5523 test(jwt-sample): adds tests to the jwt to show e2e flow works
  sample/19-auth-jwt/e2e/app/app.e2e-spec.ts
  sample/19-auth-jwt/e2e/jest-e2e.json
  sample/19-auth-jwt/package.json
  sample/19-auth-jwt/src/users/users.service.spec.ts
Labels: type: example

#5524 test(file-upload): creates an example and test for file uploading
  sample/28-file-upload/.eslintrc.js
  sample/28-file-upload/.gitignore
  sample/28-file-upload/README.md
  sample/28-file-upload/e2e/app/app.e2e-spec.ts
  sample/28-file-upload/e2e/jest-e2e.json
  sample/28-file-upload/jest.json
  sample/28-file-upload/package-lock.json
  sample/28-file-upload/package.json
  sample/28-file-upload/src/app.controller.ts
  sample/28-file-upload/src/app.module.ts
  sample/28-file-upload/src/app.service.ts
  sample/28-file-upload/src/main.ts
  sample/28-file-upload/src/sample.dto.ts
  sample/28-file-upload/tsconfig.build.json
  sample/28-file-upload/tsconfig.json
Labels: type: example

#5712 fix: Ack never called when no data sent
  integration/websockets/e2e/gateway-ack.spec.ts
  packages/platform-socket.io/adapters/io-adapter.ts
Labels: scope: websockets

#5708 fix(core): add abstract option to resolve method
  packages/core/nest-application-context.ts
Labels: scope: core, type: enhancement :wolf:

#5719 feat(common): await for exception factory in validation pipe
  packages/common/pipes/validation.pipe.ts
Labels: scope: common, type: enhancement :wolf:
