Repository nestjs/nest, pull requests merged in 2020-01, with the labels that each got.

#3902 feat(core): add key to custom decorator type
  packages/common/decorators/core/set-metadata.decorator.ts
Labels: scope: core, type: feature :tada:

#3801 feat(fastify): added description of the listen method
  packages/platform-fastify/interfaces/nest-fastify-application.interface.ts
Labels: scope: platform, status: wip ⚡️, type: enhancement :wolf:

#3777 Feature PR: Add request cancellation to http service
  packages/common/http/http.service.ts
Labels: scope: common, type: enhancement :wolf:

#3748 chore(deps): Add tslib and use importHelpers in tsconfig.base.json
  package-lock.json
  package.json
  packages/common/package-lock.json
  packages/common/package.json
  packages/core/package.json
  packages/microservices/package.json
  packages/platform-express/package.json
  packages/platform-fastify/package.json
  packages/platform-socket.io/package.json
  packages/platform-ws/package.json
  packages/testing/package.json
  packages/tsconfig.base.json
  packages/websockets/package.json
Labels: type: enhancement :wolf:

#3558 feat(common): typed decorators
  packages/common/decorators/http/create-route-param-metadata.decorator.ts
  packages/common/test/decorators/create-param-decorator.spec.ts
Labels: scope: common, type: enhancement :wolf:

#3964 feat(microservices): support passing upstream subject to grpc client
  integration/microservices/e2e/orders-grpc.spec.ts
  integration/microservices/src/grpc-advanced/advanced.grpc.controller.ts
  packages/microservices/client/client-grpc.ts
  packages/microservices/test/client/client-grpc.spec.ts
  packages/microservices/test/server/server-grpc.spec.ts
  sample/04-grpc/src/hero/hero.controller.ts
  sample/04-grpc/src/hero/hero.module.ts
  sample/04-grpc/src/hero/hero.proto
Labels: scope: microservices, type: enhancement :wolf:

#3963 fix(microservices): fix client-side grpc streaming
  integration/microservices/e2e/orders-grpc.spec.ts
  integration/microservices/src/grpc-advanced/advanced.grpc.controller.ts
  integration/microservices/src/grpc-advanced/proto/orders/service.proto
  packages/microservices/client/client-grpc.ts
  packages/microservices/server/server-grpc.ts
  packages/microservices/test/client/client-grpc.spec.ts
  packages/microservices/test/server/server-grpc.spec.ts
  sample/04-grpc/src/hero/hero.controller.ts
  sample/04-grpc/src/hero/hero.module.ts
  sample/04-grpc/src/hero/hero.proto
Labels: scope: microservices
