Repository nestjs/nest, pull requests merged in 2020-10, with the labels that each got.

#5623 fix(core): fix request scoped middleware execution order #5612
  packages/core/middleware/middleware-module.ts
Labels: scope: core

#5597 feature(microservices): Add persistent property to RmqOptions
  packages/microservices/client/client-rmq.ts
  packages/microservices/constants.ts
  packages/microservices/interfaces/microservice-configuration.interface.ts
Labels: scope: microservices, type: enhancement :wolf:

#5571 feat(common-exceptions): Add Misdirected exception and status code enum
  packages/common/enums/http-status.enum.ts
  packages/common/exceptions/index.ts
  packages/common/exceptions/misdirected.exception.ts
Labels: scope: common, type: enhancement :wolf:

#5547 feat(common): gives validation pipe protected package loads
  packages/common/pipes/validation.pipe.ts
Labels: scope: common, type: enhancement :wolf:

#5530 bugfix(microservices/nats): check replyTo channel existence
  packages/microservices/server/server-nats.ts
  packages/microservices/test/server/server-nats.spec.ts
Labels: scope: microservices, type: enhancement :wolf:

#5498 feat(validation pipe): use protected methods instead of private
  packages/common/pipes/validation.pipe.ts
Labels: scope: common, type: enhancement :wolf:

#5443 feat(microservices): Updates Kafka options interface
  packages/microservices/external/kafka-options.interface.ts
Labels: scope: microservices

#5485 fix(core): allow setting log level after app creation
  packages/common/interfaces/nest-application-context.interface.ts
  packages/core/nest-application-context.ts
Labels: scope: core, type: enhancement :wolf:

#5422 fix(microservice/kafka): properly await disconnect promises
  packages/microservices/client/client-kafka.ts
  packages/microservices/test/client/client-kafka.spec.ts
Labels: scope: microservices

#5327 feat(core): Add abortOnError option in NestApplicationContextOptions
  packages/common/interfaces/nest-application-context-options.interface.ts
  packages/core/nest-factory.ts
Labels: scope: core, type: enhancement :wolf:

#5630 feat(common): remove cli-color dependency
  packages/common/package.json
  packages/common/services/logger.service.ts
  packages/common/utils/cli-colors.util.ts
Labels: scope: common, type: enhancement :wolf:

#5143 feat(microservices): Add grpc metadata to server responce
  integration/microservices/e2e/orders-grpc.spec.ts
  integration/microservices/src/grpc-advanced/advanced.grpc.controller.ts
  packages/microservices/context/rpc-metadata-constants.ts
  packages/microservices/enums/rpc-paramtype.enum.ts
  packages/microservices/factories/rpc-params-factory.ts
  packages/microservices/server/server-grpc.ts
Labels: scope: microservices, type: enhancement :wolf:

#5605 fix(common): expectedType get overriden by metatype
  packages/common/pipes/validation.pipe.ts
  packages/common/test/pipes/validation.pipe.spec.ts
Labels: scope: common, type: enhancement :wolf:
