Repository nestjs/nest, pull requests merged in 2020-07, with the labels that each got.

#4909 feat(microservices): ClientsModule.registerAsync
  integration/microservices/e2e/sum-rpc.spec.ts
  integration/microservices/src/app.controller.ts
  integration/microservices/src/app.module.ts
  packages/microservices/module/clients.module.ts
  packages/microservices/module/index.ts
  packages/microservices/module/interfaces/clients-module.interface.ts
  packages/microservices/module/interfaces/index.ts
  packages/microservices/test/module/clients.module.spec.ts
Labels: scope: microservices, status: wip ⚡️, type: enhancement :wolf:

#5098 fix #5093
  packages/microservices/module/interfaces/clients-module.interface.ts
Labels: scope: microservices, type: enhancement :wolf:

#5116 feat(common): add precondition failed exception
  packages/common/exceptions/index.ts
  packages/common/exceptions/precondition-failed.exception.ts
  packages/common/utils/http-error-by-code.util.ts
Labels: scope: common, type: enhancement :wolf:

#5097 feat(common) add expected type option to validation pipe
  packages/common/pipes/validation.pipe.ts
  packages/common/test/pipes/validation.pipe.spec.ts
Labels: scope: common, type: enhancement :wolf:

#5163 feat(core): case insensitive headers
  packages/core/router/route-params-factory.ts
Labels: scope: core, type: enhancement :wolf:
