Repository nestjs/nest, pull requests merged in 2020-12, with the labels that each got.

#5775 fix(core): await dynamic module imports #5774
  packages/core/scanner.ts
Labels: scope: core

#5802 fix(application): makes get-url work in callback
  integration/nest-application/get-url/e2e/express.spec.ts
  integration/nest-application/get-url/e2e/fastify.spec.ts
  packages/core/nest-application.ts
Labels: scope: core, type: bug :sob:

#5813 feat(microservices): log event name w/o handler
  packages/microservices/server/server.ts
Labels: scope: microservices, type: enhancement :wolf:

#5854 fix: iisnode uses pipe name instead of port number
  packages/platform-fastify/adapters/fastify-adapter.ts
  packages/platform-fastify/interfaces/nest-fastify-application.interface.ts
Labels: scope: platform, type: enhancement :wolf:

#5818 feat(core): expose app.locals to express adapter
  integration/nest-application/app-locals/e2e/express.spec.ts
  integration/nest-application/app-locals/src/app.controller.ts
  integration/nest-application/app-locals/src/app.module.ts
  integration/nest-application/app-locals/tsconfig.json
  packages/platform-express/adapters/express-adapter.ts
  packages/platform-express/interfaces/nest-express-application.interface.ts
Labels: scope: platform

#5801 fix(microservices): handle rmq queue deletion
  packages/microservices/server/server-rmq.ts
Labels: scope: microservices

#5681 feat: timestemp inside LoggerSerivce can be overridden
  packages/common/services/logger.service.ts
Labels: scope: common, type: enhancement :wolf:

#5201 feat(core): add support to controller path alias
  packages/common/decorators/core/controller.decorator.ts
  packages/common/test/utils/shared.utils.spec.ts
  packages/common/utils/shared.utils.ts
  packages/core/middleware/middleware-module.ts
  packages/core/middleware/routes-mapper.ts
  packages/core/nest-application.ts
  packages/core/router/router-explorer.ts
  packages/core/router/routes-resolver.ts
  packages/core/test/router/router-explorer.spec.ts
  packages/core/test/router/routes-resolver.spec.ts
  packages/websockets/socket-server-provider.ts
Labels: scope: core, type: enhancement :wolf:

#5654 fix(microservices) 2984 kafka reply partitions
  integration/docker-compose.yml
  integration/microservices/e2e/concurrent-kafka.spec.ts
  integration/microservices/e2e/sum-kafka.spec.ts
  integration/microservices/src/kafka-concurrent/dto/sum.dto.ts
  integration/microservices/src/kafka-concurrent/kafka-concurrent.controller.ts
  integration/microservices/src/kafka-concurrent/kafka-concurrent.messages.controller.ts
  integration/microservices/src/kafka/kafka.controller.ts
  package-lock.json
  package.json
  packages/microservices/client/client-kafka.ts
  packages/microservices/errors/invalid-kafka-client-topic-partition.exception.ts
  packages/microservices/external/kafka-options.interface.ts
  packages/microservices/external/kafka.interface.ts
  packages/microservices/helpers/index.ts
  packages/microservices/helpers/kafka-reply-partition-assigner.ts
  packages/microservices/helpers/kafka-round-robin-partition-assigner.ts
  packages/microservices/interfaces/microservice-configuration.interface.ts
  packages/microservices/server/server-kafka.ts
  packages/microservices/test/client/client-kafka.spec.ts
  packages/microservices/test/helpers/kafka-reply-partition-assigner.spec.ts
  packages/microservices/test/helpers/kafka-round-robin-by-time-partition-assigner.spec.ts
  packages/microservices/test/server/server-kafka.spec.ts
Labels: scope: microservices, status: wip ⚡️, type: enhancement :wolf:

#5477 fix(core): add missing optional dependencies
  packages/common/package.json
  packages/core/package.json
  packages/microservices/package.json
  packages/testing/package.json
  packages/websockets/package.json
Labels: scope: core, type: enhancement :wolf:

#5915 fix(microservices): await respond callback, fix kafka (missing second-to-last item)
  packages/microservices/server/server-kafka.ts
  packages/microservices/server/server.ts
  packages/microservices/test/server/server-kafka.spec.ts
Labels: scope: microservices
