Repository nestjs/nest, pull requests merged in 2020-03, with the labels that each got.

#3042 feat(core) exclude middleware based on path
  .circleci/config.yml
  CONTRIBUTING.md
  integration/graphql-code-first/package-lock.json
  integration/graphql-code-first/package.json
  integration/graphql-schema-first/package-lock.json
  integration/graphql-schema-first/package.json
  integration/hello-world/.gitignore
  integration/hello-world/e2e/exclude-middleware-fastify.spec.ts
  integration/hello-world/e2e/exclude-middleware.spec.ts
  integration/hello-world/e2e/middleware-fastify.spec.ts
  integration/hello-world/package-lock.json
  integration/hello-world/package.json
  integration/hooks/.gitignore
  integration/hooks/package-lock.json
  integration/hooks/package.json
  integration/injector/.gitignore
  integration/injector/package-lock.json
  integration/injector/package.json
  integration/microservices/.gitignore
  integration/microservices/package-lock.json
  integration/microservices/package.json
  integration/mongoose/.gitignore
  integration/mongoose/package-lock.json
  integration/mongoose/package.json
  integration/nest-application/get-url/.gitignore
  integration/nest-application/get-url/package-lock.json
  integration/nest-application/get-url/package.json
  integration/nest-application/package-lock.json
  integration/scopes/.gitignore
  integration/scopes/package-lock.json
  integration/scopes/package.json
  integration/typeorm/.gitignore
  integration/typeorm/package-lock.json
  integration/typeorm/package.json
  integration/websockets/.gitignore
  integration/websockets/package-lock.json
  integration/websockets/package.json
  package-lock.json
  package.json
  packages/common/interfaces/middleware/middleware-config-proxy.interface.ts
  packages/core/middleware/builder.ts
  packages/core/middleware/middleware-module.ts
  packages/core/middleware/utils.ts
  packages/core/nest-application.ts
  packages/core/test/middleware/builder.spec.ts
  packages/core/test/middleware/middleware-module.spec.ts
  packages/core/test/middleware/utils.spec.ts
  packages/platform-express/adapters/express-adapter.ts
  packages/platform-fastify/adapters/fastify-adapter.ts
  packages/platform-fastify/package.json
  sample/22-graphql-prisma/yarn.lock
  scripts/prepare.sh
  scripts/run-integration.sh
  scripts/test.sh
  tools/gulp/config.ts
  tools/gulp/tasks/move.ts
Labels: scope: core, type: enhancement :wolf:

#3053 refactor(core) make message property (http errors) serializable
  integration/graphql-code-first/e2e/pipes.spec.ts
  integration/hello-world/e2e/fastify-adapter.spec.ts
  packages/common/exceptions/http.exception.ts
  packages/common/test/exceptions/http.exception.spec.ts
  packages/core/test/router/router-execution-context.spec.ts
Labels: scope: core, type: enhancement :wolf:

#3070 feat(core) pass ExecutionContext to custom decorators
  packages/core/helpers/context-utils.ts
  packages/core/helpers/external-context-creator.ts
  packages/core/router/router-execution-context.ts
  packages/core/test/helpers/context-utils.spec.ts
  packages/core/test/router/router-execution-context.spec.ts
  packages/microservices/context/rpc-context-creator.ts
  packages/microservices/test/context/rpc-context-creator.spec.ts
  packages/websockets/context/ws-context-creator.ts
  packages/websockets/test/context/ws-context-creator.spec.ts
Labels: scope: core, type: enhancement :wolf:

#4045 fix(common): standardizes http exceptions output
  packages/common/exceptions/http.exception.ts
  packages/common/test/exceptions/http.exception.spec.ts
Labels: scope: common, type: enhancement :wolf:

#3926 sample(get-url): add sample for get-url
  sample/01-cats-app/src/main.ts
  sample/02-gateways/src/main.ts
  sample/03-microservices/src/main.ts
  sample/04-grpc/src/main.ts
  sample/05-sql-typeorm/src/main.ts
  sample/06-mongoose/src/main.ts
  sample/07-sequelize/src/main.ts
  sample/08-webpack/src/main.ts
  sample/09-babel-example/src/main.js
  sample/10-fastify/src/main.ts
  sample/11-swagger/src/main.ts
  sample/12-graphql-apollo/src/main.ts
  sample/13-mongo-typeorm/src/main.ts
  sample/14-mongoose-base/src/main.ts
  sample/15-mvc/src/main.ts
  sample/16-gateways-ws/src/main.ts
  sample/17-mvc-fastify/src/main.ts
  sample/19-auth-jwt/src/main.ts
  sample/20-cache/src/main.ts
  sample/21-serializer/src/main.ts
  sample/22-graphql-prisma/src/main.ts
  sample/23-type-graphql/src/main.ts
  sample/24-serve-static/src/main.ts
  sample/25-dynamic-modules/src/main.ts
  sample/26-queues/src/main.ts
  sample/27-scheduling/src/main.ts
Labels: type: example

#4159 feat(microservices): A metadata to arguments for grpc stream method
  packages/microservices/server/server-grpc.ts
  packages/microservices/test/server/server-grpc.spec.ts
Labels: scope: microservices

#4146 feat(microservices): add subscribe and from beginning to kafka options
  packages/microservices/client/client-kafka.ts
  packages/microservices/interfaces/microservice-configuration.interface.ts
  packages/microservices/server/server-kafka.ts
  packages/microservices/test/client/client-kafka.spec.ts
  packages/microservices/test/server/server-kafka.spec.ts
Labels: scope: microservices, type: enhancement :wolf:

#4140 feat(microservices): Add keepalive option in grpc clinet
  packages/microservices/client/client-grpc.ts
  packages/microservices/interfaces/microservice-configuration.interface.ts
Labels: scope: microservices, type: enhancement :wolf:

#4037 feat(core): Update routers logging to include basePath and remove trailing slash
  packages/core/router/router-explorer.ts
  packages/core/router/routes-resolver.ts
Labels: scope: core, type: enhancement :wolf:

#4213 fix(microservices): fix sending metadata with grpc streaming
  packages/microservices/client/client-grpc.ts
Labels: scope: microservices

#4043 refactor(common): fix exceptions doc/var names
  packages/common/exceptions/bad-gateway.exception.ts
  packages/common/exceptions/bad-request.exception.ts
  packages/common/exceptions/conflict.exception.ts
  packages/common/exceptions/forbidden.exception.ts
  packages/common/exceptions/gateway-timeout.exception.ts
  packages/common/exceptions/gone.exception.ts
  packages/common/exceptions/http-version-not-supported.exception.ts
  packages/common/exceptions/http.exception.ts
  packages/common/exceptions/im-a-teapot.exception.ts
  packages/common/exceptions/internal-server-error.exception.ts
  packages/common/exceptions/method-not-allowed.exception.ts
  packages/common/exceptions/not-acceptable.exception.ts
  packages/common/exceptions/not-found.exception.ts
  packages/common/exceptions/not-implemented.exception.ts
  packages/common/exceptions/payload-too-large.exception.ts
  packages/common/exceptions/request-timeout.exception.ts
  packages/common/exceptions/service-unavailable.exception.ts
  packages/common/exceptions/unauthorized.exception.ts
  packages/common/exceptions/unprocessable-entity.exception.ts
  packages/common/exceptions/unsupported-media-type.exception.ts
Labels: scope: common, type: docs :page_facing_up:

#4230 feat(microservices): implement server grpc max metadata size option
  packages/microservices/client/client-grpc.ts
  packages/microservices/interfaces/microservice-configuration.interface.ts
  packages/microservices/server/server-grpc.ts
Labels: scope: microservices, type: enhancement :wolf:

#4404 feat(common): add exception code option in validation pipe
  packages/common/pipes/parse-array.pipe.ts
  packages/common/pipes/parse-bool.pipe.ts
  packages/common/pipes/parse-int.pipe.ts
  packages/common/pipes/parse-uuid.pipe.ts
  packages/common/pipes/validation.pipe.ts
  packages/common/utils/http-error-by-code.util.ts
Labels: scope: common, type: enhancement :wolf:

#4334 Feat/iterate over everything
  packages/common/pipes/validation.pipe.ts
  packages/core/exceptions/base-exception-filter-context.ts
  packages/core/exceptions/external-exception-filter-context.ts
  packages/core/guards/guards-context-creator.ts
  packages/core/hooks/before-app-shutdown.hook.ts
  packages/core/hooks/on-app-bootstrap.hook.ts
  packages/core/hooks/on-app-shutdown.hook.ts
  packages/core/hooks/on-module-destroy.hook.ts
  packages/core/hooks/on-module-init.hook.ts
  packages/core/injector/injector.ts
  packages/core/injector/instance-wrapper.ts
  packages/core/injector/module.ts
  packages/core/injector/transient-instances.ts
  packages/core/interceptors/interceptors-context-creator.ts
  packages/core/metadata-scanner.ts
  packages/core/middleware/builder.ts
  packages/core/middleware/utils.ts
  packages/core/nest-application-context.ts
  packages/core/nest-application.ts
  packages/core/pipes/pipes-context-creator.ts
  packages/core/router/router-exception-filters.ts
  packages/core/scanner.ts
  packages/microservices/context/exception-filters-context.ts
  packages/websockets/socket-module.ts
Labels: type: enhancement :wolf:
