Repository nestjs/nest, pull requests merged in 2021-02, with the labels that each got.

#6257 chore(): update interface for transform options
  packages/common/interfaces/external/class-transform-options.interface.ts
Labels: scope: common, type: enhancement :wolf:

#6245 fix(websockets): fix typings for gatewaymetadata origins
  packages/websockets/interfaces/gateway-metadata.interface.ts
Labels: scope: common, type: enhancement :wolf:

#4837 sample(12): Example of how to use @ResolveField
  integration/graphql-schema-first/src/cats/cats.service.ts
  integration/graphql-schema-first/src/owners/owners.module.ts
  integration/graphql-schema-first/src/owners/owners.service.ts
  sample/12-graphql-schema-first/src/cats/cats.graphql
  sample/12-graphql-schema-first/src/cats/cats.resolvers.ts
  sample/12-graphql-schema-first/src/cats/cats.service.ts
  sample/12-graphql-schema-first/src/graphql.schema.ts
Labels: type: example

#5710 Feat/microservice deserialize error
  integration/microservices/e2e/sum-rpc.spec.ts
  integration/microservices/src/app.controller.ts
  integration/microservices/src/app.module.ts
  packages/microservices/client/client-proxy-factory.ts
  packages/microservices/client/client-proxy.ts
  packages/microservices/interfaces/client-metadata.interface.ts
  packages/microservices/module/interfaces/clients-module.interface.ts
Labels: scope: microservices, type: enhancement :wolf:

#5278 feat(core): add file send capability
  integration/send-files/e2e/express.spec.ts
  integration/send-files/e2e/fastify.spec.ts
  integration/send-files/src/app.controller.ts
  integration/send-files/src/app.module.ts
  integration/send-files/src/app.service.ts
  integration/send-files/src/non-file.ts
  integration/send-files/tsconfig.json
  packages/common/file-stream/index.ts
  packages/common/file-stream/streamable-file.ts
  packages/common/index.ts
  packages/platform-express/adapters/express-adapter.ts
  packages/platform-fastify/adapters/fastify-adapter.ts
Labels: scope: core, type: feature :tada:

#5975 feat(websockets): messagebody param extract
  packages/websockets/context/ws-context-creator.ts
  packages/websockets/decorators/message-body.decorator.ts
  packages/websockets/factories/ws-params-factory.ts
  packages/websockets/test/factories/ws-params-factory.spec.ts
  packages/websockets/utils/param.utils.ts
Labels: scope: websockets, type: enhancement :wolf:

#6232 feat(common): add parse float and enum pipes
  packages/common/pipes/index.ts
  packages/common/pipes/parse-enum.pipe.ts
  packages/common/pipes/parse-float.pipe.ts
  packages/common/test/pipes/parse-enum.pipe.spec.ts
  packages/common/test/pipes/parse-float.pipe.spec.ts
Labels: scope: common, type: feature :tada:

#5977 feat(): accept array of host filters
  integration/hello-world/e2e/fastify-adapter.spec.ts
  integration/hello-world/e2e/hello-world.spec.ts
  integration/hello-world/src/app.module.ts
  integration/hello-world/src/host-array/dto/test.dto.ts
  integration/hello-world/src/host-array/host-array.controller.ts
  integration/hello-world/src/host-array/host-array.module.ts
  integration/hello-world/src/host-array/host-array.service.ts
  integration/hello-world/src/host-array/users/user-by-id.pipe.ts
  integration/hello-world/src/host-array/users/users.service.ts
  packages/common/decorators/core/controller.decorator.ts
  packages/common/test/decorators/controller.decorator.spec.ts
  packages/core/router/router-explorer.ts
  packages/core/router/routes-resolver.ts
Labels: scope: core, type: enhancement :wolf:

#5291 feat(core): exclude route from global prefix
  integration/nest-application/global-prefix/e2e/global-prefix.spec.ts
  integration/nest-application/global-prefix/src/app.controller.ts
  integration/nest-application/global-prefix/src/app.module.ts
  integration/nest-application/global-prefix/tsconfig.json
  packages/common/interfaces/global-prefix-options.interface.ts
  packages/common/interfaces/index.ts
  packages/common/interfaces/nest-application.interface.ts
  packages/core/application-config.ts
  packages/core/nest-application.ts
  packages/core/router/router-explorer.ts
  packages/core/test/application-config.spec.ts
  packages/core/test/router/router-explorer.spec.ts
Labels: scope: core, type: enhancement :wolf:

#6321 fix(websockets/platform-ws): support ws servers running on different paths
  integration/websockets/e2e/ws-gateway.spec.ts
  integration/websockets/src/example-path.gateway.ts
  integration/websockets/src/ws-path.gateway.ts
  integration/websockets/src/ws-path2.gateway.ts
  package-lock.json
  packages/platform-ws/adapters/ws-adapter.ts
  packages/websockets/adapters/ws-adapter.ts
  packages/websockets/factories/server-and-event-streams-factory.ts
  packages/websockets/interfaces/index.ts
  packages/websockets/interfaces/server-and-event-streams-host.interface.ts
  packages/websockets/package.json
  packages/websockets/socket-module.ts
  packages/websockets/socket-server-provider.ts
  packages/websockets/sockets-container.ts
  packages/websockets/test/container.spec.ts
  packages/websockets/test/factories/server-and-event-streams-factory.spec.ts
  packages/websockets/test/socket-server-provider.spec.ts
  packages/websockets/web-sockets-controller.ts
  sample/02-gateways/package-lock.json
  sample/02-gateways/src/adapters/redis-io.adapter.ts
  sample/04-grpc/package-lock.json
Labels: scope: microservices

#6344 feat(common): Allowing pipes for UploadedFile / UploadedFiles
  packages/common/decorators/http/route-params.decorator.ts
Labels: scope: common, type: enhancement :wolf:

#6266 chore(sample): Added sample for event emitter with nestjs
  sample/30-event-emitter/.eslintrc.js
  sample/30-event-emitter/.gitignore
  sample/30-event-emitter/.prettierrc
  sample/30-event-emitter/nest-cli.json
  sample/30-event-emitter/package-lock.json
  sample/30-event-emitter/package.json
  sample/30-event-emitter/src/app.controller.spec.ts
  sample/30-event-emitter/src/app.controller.ts
  sample/30-event-emitter/src/app.module.ts
  sample/30-event-emitter/src/app.service.ts
  sample/30-event-emitter/src/main.ts
  sample/30-event-emitter/src/orders/dto/create-order.dto.ts
  sample/30-event-emitter/src/orders/entities/order.entity.ts
  sample/30-event-emitter/src/orders/events/order-created.event.ts
  sample/30-event-emitter/src/orders/listeners/order-created.listener.ts
  sample/30-event-emitter/src/orders/orders.controller.ts
  sample/30-event-emitter/src/orders/orders.module.ts
  sample/30-event-emitter/src/orders/orders.service.ts
  sample/30-event-emitter/test/app.e2e-spec.ts
  sample/30-event-emitter/test/jest-e2e.json
  sample/30-event-emitter/tsconfig.build.json
  sample/30-event-emitter/tsconfig.json
Labels: scope: sample

#6386 feat(core): add lazy module loader class
  integration/microservices/e2e/sum-kafka.spec.ts
  package.json
  packages/core/exceptions/base-exception-filter.ts
  packages/core/injector/container.ts
  packages/core/injector/index.ts
  packages/core/injector/instance-loader.ts
  packages/core/injector/internal-core-module-factory.ts
  packages/core/injector/internal-core-module.ts
  packages/core/injector/internal-providers-storage.ts
  packages/core/injector/lazy-module-loader.ts
  packages/core/injector/module.ts
  packages/core/middleware/container.ts
  packages/core/nest-application-context.ts
  packages/core/router/router-module.ts
  packages/core/scanner.ts
  packages/core/test/injector/container.spec.ts
  packages/core/test/injector/internal-core-module-factory.spec.ts
  packages/core/test/injector/lazy-module-loader.spec.ts
  packages/core/test/injector/module.spec.ts
  packages/core/test/nest-application.spec.ts
  packages/core/test/scanner.spec.ts
  packages/microservices/ctx-host/tcp.context.ts
Labels: scope: core, type: feature :tada:

#6445 chore(): updated transform options interface
  packages/common/interfaces/external/class-transform-options.interface.ts
Labels: scope: common, type: enhancement :wolf:
