Repository nestjs/nest, pull requests merged in 2021-01, with the labels that each got.

#6082 fix(microservices): custom strategy typings
  packages/microservices/interfaces/microservice-configuration.interface.ts
Labels: scope: microservices

#6062 chore(microservice): updated nats options
  packages/microservices/interfaces/microservice-configuration.interface.ts
Labels: scope: microservices, type: enhancement :wolf:

#6071 feat(testing): adds builder method for optional custom logger
  packages/testing/testing-module.builder.ts
Labels: scope: testing, type: enhancement :wolf:

#5859 Fix set name property of exception object equal to class name
  integration/graphql-code-first/e2e/pipes.spec.ts
  packages/common/exceptions/http.exception.ts
  packages/common/test/exceptions/http.exception.spec.ts
  scripts/run-integration.sh
Labels: scope: common, status: blocked 🚫

#5990 feat(core): base exception filter supports the http-errors library
  package-lock.json
  package.json
  packages/common/exceptions/http.exception.ts
  packages/core/exceptions/base-exception-filter.ts
  packages/core/test/exceptions/exceptions-handler.spec.ts
Labels: scope: core, status: blocked 🚫, type: enhancement :wolf:

#6035 feat(core): add RouterModule (e.g., for versioning)
  integration/hello-world/e2e/router-module-middleware.spec.ts
  integration/hello-world/e2e/router-module.spec.ts
  packages/common/test/utils/shared.utils.spec.ts
  packages/common/utils/shared.utils.ts
  packages/core/injector/container.ts
  packages/core/injector/modules-container.ts
  packages/core/middleware/builder.ts
  packages/core/middleware/middleware-module.ts
  packages/core/middleware/routes-mapper.ts
  packages/core/router/index.ts
  packages/core/router/interfaces/index.ts
  packages/core/router/interfaces/routes.interface.ts
  packages/core/router/router-explorer.ts
  packages/core/router/router-module.ts
  packages/core/router/routes-resolver.ts
  packages/core/router/utils/flatten-route-paths.util.ts
  packages/core/router/utils/index.ts
  packages/core/test/exceptions/exceptions-handler.spec.ts
  packages/core/test/exceptions/external-exception-filter-context.spec.ts
  packages/core/test/exceptions/external-exceptions-handler.spec.ts
  packages/core/test/guards/guards-consumer.spec.ts
  packages/core/test/guards/guards-context-creator.spec.ts
  packages/core/test/helpers/context-utils.spec.ts
  packages/core/test/helpers/external-context-creator.spec.ts
  packages/core/test/injector/module.spec.ts
  packages/core/test/interceptors/interceptors-consumer.spec.ts
  packages/core/test/interceptors/interceptors-context-creator.spec.ts
  packages/core/test/metadata-scanner.spec.ts
  packages/core/test/middleware/builder.spec.ts
  packages/core/test/middleware/middleware-module.spec.ts
  packages/core/test/middleware/utils.spec.ts
  packages/core/test/pipes/params-token-factory.spec.ts
  packages/core/test/pipes/pipes-consumer.spec.ts
  packages/core/test/pipes/pipes-context-creator.spec.ts
  packages/core/test/router/route-params-factory.spec.ts
  packages/core/test/router/router-exception-filters.spec.ts
  packages/core/test/router/router-module.spec.ts
  packages/core/test/router/router-response-controller.spec.ts
  packages/core/test/router/utils/flat-routes.spec.ts
  packages/microservices/test/container.spec.ts
  packages/microservices/test/context/exception-filters-context.spec.ts
  packages/microservices/test/context/rpc-context-creator.spec.ts
  packages/microservices/test/exceptions/rpc-exceptions-handler.spec.ts
  packages/microservices/test/listeners-metadata-explorer.spec.ts
  packages/microservices/test/server/server.spec.ts
  packages/websockets/socket-server-provider.ts
  packages/websockets/test/context/exception-filters.context.spec.ts
  packages/websockets/test/context/ws-context-creator.spec.ts
  packages/websockets/test/exceptions/ws-exceptions-handler.spec.ts
  packages/websockets/test/gateway-metadata-explorer.spec.ts
  packages/websockets/test/socket-server-provider.spec.ts
  packages/websockets/test/web-sockets-controller.spec.ts
Labels: scope: core, type: feature :tada:

#6236 feat(core): use topological sort for lifecycle hooks
  integration/hooks/e2e/before-app-shutdown.spec.ts
  integration/hooks/e2e/on-app-boostrap.spec.ts
  integration/hooks/e2e/on-app-shutdown.spec.ts
  integration/hooks/e2e/on-module-destroy.spec.ts
  integration/hooks/e2e/on-module-init.spec.ts
  packages/core/nest-application-context.ts
  packages/core/scanner.ts
Labels: scope: core, type: enhancement :wolf:

#6237 fix(core): use "router.all" method when RequestMethod is set to ALL
  packages/common/interfaces/http/http-server.interface.ts
  packages/core/adapters/http-adapter.ts
  packages/core/helpers/router-method-factory.ts
  packages/core/test/helpers/router-method-factory.spec.ts
Labels: scope: core

#6141 feat(core): use class references as keys (container)
  packages/common/decorators/core/inject.decorator.ts
  packages/common/test/decorators/inject.decorator.spec.ts
  packages/core/guards/guards-context-creator.ts
  packages/core/helpers/external-context-creator.ts
  packages/core/injector/container.ts
  packages/core/injector/helpers/transient-instances.ts
  packages/core/injector/injector.ts
  packages/core/injector/instance-links-host.ts
  packages/core/injector/instance-loader.ts
  packages/core/injector/instance-wrapper.ts
  packages/core/injector/internal-core-module.ts
  packages/core/injector/module.ts
  packages/core/interceptors/interceptors-context-creator.ts
  packages/core/middleware/container.ts
  packages/core/middleware/middleware-module.ts
  packages/core/middleware/resolver.ts
  packages/core/pipes/pipes-context-creator.ts
  packages/core/router/routes-resolver.ts
  packages/core/scanner.ts
  packages/core/test/guards/guards-context-creator.spec.ts
  packages/core/test/helpers/external-context-creator.spec.ts
  packages/core/test/hooks/before-app-shutdown.hook.spec.ts
  packages/core/test/hooks/on-app-bootstrap.hook.spec.ts
  packages/core/test/hooks/on-app-shutdown.hook.spec.ts
  packages/core/test/hooks/on-module-destroy.hook.spec.ts
  packages/core/test/hooks/on-module-init.hook.spec.ts
  packages/core/test/injector/injector.spec.ts
  packages/core/test/injector/instance-loader.spec.ts
  packages/core/test/injector/module.spec.ts
  packages/core/test/interceptors/interceptors-context-creator.spec.ts
  packages/core/test/middleware/container.spec.ts
  packages/core/test/middleware/middleware-module.spec.ts
  packages/core/test/pipes/pipes-context-creator.spec.ts
  packages/microservices/microservices-module.ts
  packages/websockets/socket-module.ts
Labels: scope: core, type: enhancement :wolf:

#6221 feat(common): built-in, console logger refactor
  package.json
  packages/common/interfaces/nest-application-context-options.interface.ts
  packages/common/interfaces/nest-application-context.interface.ts
  packages/common/services/console-logger.service.ts
  packages/common/services/index.ts
  packages/common/services/logger.service.ts
  packages/common/services/utils/index.ts
  packages/common/services/utils/is-log-level-enabled.util.ts
  packages/common/test/services/logger.service.spec.ts
  packages/common/test/services/utils/is-log-level-enabled.util.spec.ts
  packages/core/errors/exceptions-zone.ts
  packages/core/injector/instance-loader.ts
  packages/core/nest-application-context.ts
  packages/core/nest-application.ts
  packages/core/nest-factory.ts
  packages/core/router/router-explorer.ts
  packages/core/router/routes-resolver.ts
  packages/microservices/nest-microservice.ts
  packages/testing/services/testing-logger.service.ts
Labels: scope: common, type: enhancement :wolf:

#6216 fix(types) adds types for `mixin`
  packages/common/decorators/core/injectable.decorator.ts
  packages/platform-express/multer/interceptors/any-files.interceptor.ts
  packages/platform-express/multer/interceptors/file-fields.interceptor.ts
  packages/platform-express/multer/interceptors/file.interceptor.ts
  packages/platform-express/multer/interceptors/files.interceptor.ts
Labels: scope: common

#4806 feat: move from grpc to @grpc/grpc-js
  integration/microservices/e2e/orders-grpc.spec.ts
  integration/microservices/e2e/sum-grpc.spec.ts
  package-lock.json
  package.json
  packages/microservices/client/client-grpc.ts
  packages/microservices/server/server-grpc.ts
  packages/microservices/test/server/server-grpc.spec.ts
  sample/04-grpc/package-lock.json
  sample/04-grpc/package.json
Labels: dependencies, scope: microservices, status: blocked 🚫

#6264 fix(microservices): reject on error (on listen method call)
  packages/common/interfaces/nest-application.interface.ts
  packages/common/interfaces/nest-microservice.interface.ts
  packages/core/adapters/http-adapter.ts
  packages/core/middleware/middleware-module.ts
  packages/core/nest-application.ts
  packages/microservices/client/client-mqtt.ts
  packages/microservices/client/client-nats.ts
  packages/microservices/client/client-proxy-factory.ts
  packages/microservices/client/client-redis.ts
  packages/microservices/client/client-tcp.ts
  packages/microservices/client/constants.ts
  packages/microservices/constants.ts
  packages/microservices/interfaces/custom-transport-strategy.interface.ts
  packages/microservices/nest-microservice.ts
  packages/microservices/server/server-grpc.ts
  packages/microservices/server/server-kafka.ts
  packages/microservices/server/server-mqtt.ts
  packages/microservices/server/server-nats.ts
  packages/microservices/server/server-redis.ts
  packages/microservices/server/server-rmq.ts
  packages/microservices/server/server-tcp.ts
  packages/microservices/test/server/server-grpc.spec.ts
  packages/microservices/test/server/server-kafka.spec.ts
  packages/microservices/test/server/server-mqtt.spec.ts
  packages/microservices/test/server/server-nats.spec.ts
  packages/microservices/test/server/server-redis.spec.ts
  packages/microservices/test/server/server-rmq.spec.ts
  packages/microservices/test/server/server-tcp.spec.ts
  sample/03-microservices/src/main.ts
  sample/04-grpc/src/main.ts
Labels: scope: microservices
