Repository nestjs/nest, pull requests merged in 2021-07, with the labels that each got.

#7659 feat(microservices): use createInbox method
  packages/microservices/client/client-nats.ts
Labels: scope: microservices, type: enhancement :wolf:

#7613 feat(common): add `resetContext()` to `ConsoleLogger`
  packages/common/services/console-logger.service.ts
  packages/common/test/services/logger.service.spec.ts
Labels: scope: common, type: enhancement :wolf:

#7589 fix(platform-express): only set Content-Type if not done for StramableFiles
  packages/platform-express/adapters/express-adapter.ts
Labels: scope: core, type: enhancement :wolf:

#7399 fix(core): fallback to parent inquirer when transient dep chain #7381
  packages/core/injector/injector.ts
Labels: scope: core

#7248 feature(microservices): allow deserializers to be async and await result
  packages/microservices/client/client-kafka.ts
  packages/microservices/client/client-mqtt.ts
  packages/microservices/client/client-nats.ts
  packages/microservices/client/client-redis.ts
  packages/microservices/client/client-rmq.ts
  packages/microservices/client/client-tcp.ts
  packages/microservices/interfaces/deserializer.interface.ts
  packages/microservices/server/server-kafka.ts
  packages/microservices/server/server-mqtt.ts
  packages/microservices/server/server-nats.ts
  packages/microservices/server/server-redis.ts
  packages/microservices/server/server-rmq.ts
  packages/microservices/server/server-tcp.ts
  packages/microservices/test/client/client-redis.spec.ts
  packages/microservices/test/client/client-rmq.spec.ts
  packages/microservices/test/client/client-tcp.spec.ts
  packages/microservices/test/server/server-kafka.spec.ts
  packages/microservices/test/server/server-mqtt.spec.ts
  packages/microservices/test/server/server-redis.spec.ts
  packages/microservices/test/server/server-rmq.spec.ts
  packages/microservices/test/server/server-tcp.spec.ts
Labels: scope: microservices
