Repository nestjs/nest, pull requests merged in 2021-03, with the labels that each got.

#6599 add korean document
  Readme.md
  readme_kr.md
Labels: type: docs :page_facing_up:

#6602 fix: update CORS origin type
  packages/common/interfaces/external/cors-options.interface.ts
Labels: scope: common, type: enhancement :wolf:

#6587 fix(core): detect conventional middleware class #6586
  packages/core/middleware/utils.ts
  packages/core/test/middleware/utils.spec.ts
Labels: scope: core

#6573 feat(core): support route injection
  packages/core/router/router-explorer.ts
  packages/core/test/router/router-explorer.spec.ts
Labels: scope: core, type: enhancement :wolf:

#6428 feat(cache): allow for cache interceptor to be more easily extended
  packages/common/cache/interceptors/cache.interceptor.ts
Labels: scope: common, type: enhancement :wolf:
