Repository nestjs/nest, pull requests merged in 2021-11, with the labels that each got.

#8485 feat(common): add the ability to set some extra metadata about returned files
  integration/send-files/e2e/express.spec.ts
  integration/send-files/src/app.controller.ts
  integration/send-files/src/app.service.ts
  packages/common/file-stream/streamable-file.ts
  packages/common/file-stream/streamable-options.interface.ts
  packages/platform-express/adapters/express-adapter.ts
  packages/platform-fastify/adapters/fastify-adapter.ts
Labels: type: feature :tada:, scope: common, scope: platform

#8561 fix(core): use `toString()` as a fallback for dependent's name
  packages/core/injector/injector.ts
Labels: type: enhancement :wolf:, scope: core, state: community

#6277 feat(testing): add auto-mocking capabilities
  integration/auto-mock/src/bar.service.ts
  integration/auto-mock/src/foo.service.ts
  integration/auto-mock/test/bar.service.spec.ts
  integration/auto-mock/tsconfig.json
  packages/core/injector/injector.ts
  packages/core/injector/instance-loader.ts
  packages/testing/interfaces/index.ts
  packages/testing/interfaces/mock-factory.ts
  packages/testing/testing-injector.ts
  packages/testing/testing-instance-loader.ts
  packages/testing/testing-module.builder.ts
Labels: scope: testing, status: wip ⚡️
