Repository nestjs/nest, pull requests merged in 2022-06, with the labels that each got.

#9720 fix(core): prevent renaming global providers and modules in the repl
  integration/repl/e2e/repl.spec.ts
  packages/core/repl/assign-to-object.util.ts
  packages/core/repl/load-native-functions-into-context.ts
  packages/core/repl/repl-context.ts
  packages/core/repl/repl.ts
  packages/core/test/repl/assign-to-object.util.spec.ts
  packages/core/test/repl/native-functions/debug-repl-fn.spec.ts
  packages/core/test/repl/native-functions/get-repl-fn.spec.ts
  packages/core/test/repl/native-functions/help-repl-fn.spec.ts
  packages/core/test/repl/native-functions/methods-repl-fn.spec.ts
  packages/core/test/repl/native-functions/resolve-repl-fn.spec.ts
  packages/core/test/repl/native-functions/select-repl-fn.spec.ts
Labels: type: enhancement :wolf:

#9684 feat(core): read–eval–print loop feature
  integration/repl/e2e/repl.spec.ts
  integration/repl/src/app.module.ts
  integration/repl/src/users/dto/create-user.dto.ts
  integration/repl/src/users/dto/update-user.dto.ts
  integration/repl/src/users/entities/user.entity.ts
  integration/repl/src/users/users.controller.ts
  integration/repl/src/users/users.module.ts
  integration/repl/src/users/users.repository.ts
  integration/repl/src/users/users.service.ts
  integration/repl/tsconfig.json
  packages/common/utils/cli-colors.util.ts
  packages/core/index.ts
  packages/core/repl/assign-to-object.util.ts
  packages/core/repl/constants.ts
  packages/core/repl/index.ts
  packages/core/repl/native-functions/debug-repl-fn.ts
  packages/core/repl/native-functions/get-relp-fn.ts
  packages/core/repl/native-functions/help-repl-fn.ts
  packages/core/repl/native-functions/index.ts
  packages/core/repl/native-functions/methods-repl-fn.ts
  packages/core/repl/native-functions/resolve-repl-fn.ts
  packages/core/repl/native-functions/select-relp-fn.ts
  packages/core/repl/repl-context.ts
  packages/core/repl/repl-function.ts
  packages/core/repl/repl-logger.ts
  packages/core/repl/repl.interfaces.ts
  packages/core/repl/repl.ts
  packages/core/test/repl/assign-to-object.util.spec.ts
  packages/core/test/repl/native-functions/debug-repl-fn.spec.ts
  packages/core/test/repl/native-functions/get-repl-fn.spec.ts
  packages/core/test/repl/native-functions/help-repl-fn.spec.ts
  packages/core/test/repl/native-functions/methods-repl-fn.spec.ts
  packages/core/test/repl/native-functions/resolve-repl-fn.spec.ts
  packages/core/test/repl/native-functions/select-repl-fn.spec.ts
  packages/core/test/repl/repl-context.spec.ts
Labels: type: feature :tada:, scope: core

#9681 fix(microservices): allow `postfixId` on `KafkaOptions` to be an empty string
  packages/microservices/client/client-kafka.ts
  packages/microservices/interfaces/microservice-configuration.interface.ts
  packages/microservices/server/server-kafka.ts
Labels: type: enhancement :wolf:, scope: microservices

#9705 feat(common): Add error chaining support to http exception
  packages/common/exceptions/http.exception.ts
  packages/common/test/exceptions/http.exception.spec.ts
Labels: type: enhancement :wolf:, scope: common

#9718 Feature/4752 file validators pipe
  packages/common/pipes/file/file-type.validator.ts
  packages/common/pipes/file/file-validator.interface.ts
  packages/common/pipes/file/index.ts
  packages/common/pipes/file/max-file-size.validator.ts
  packages/common/pipes/file/parse-file-options.interface.ts
  packages/common/pipes/file/parse-file-pipe.builder.ts
  packages/common/pipes/file/parse-file.pipe.ts
  packages/common/pipes/index.ts
  packages/common/test/pipes/file/file-type.validator.spec.ts
  packages/common/test/pipes/file/max-file-size.validator.spec.ts
  packages/common/test/pipes/file/parse-file-pipe.builder.spec.ts
  packages/common/test/pipes/file/parse-file.pipe.spec.ts
  sample/29-file-upload/e2e/app/app.e2e-spec.ts
  sample/29-file-upload/src/app.controller.ts
Labels: type: feature :tada:, scope: common

#8802 fix: only send exception responses if header is not already sent
  packages/common/interfaces/http/http-server.interface.ts
  packages/core/adapters/http-adapter.ts
  packages/core/exceptions/base-exception-filter.ts
  packages/core/test/utils/noop-adapter.spec.ts
  packages/platform-express/adapters/express-adapter.ts
  packages/platform-fastify/adapters/fastify-adapter.ts
Labels: type: enhancement :wolf:, scope: core, status: blocked 🚫

#9648 feat(testing): allow omitting `httpAdapter` arg on `createNestApplication`
  integration/cors/e2e/express.spec.ts
  integration/cors/e2e/fastify.spec.ts
  integration/nest-application/raw-body/e2e/express.spec.ts
  package-lock.json
  package.json
  packages/testing/testing-module.ts
Labels: type: enhancement :wolf:, scope: testing, status: wip ⚡️
