Repository nestjs/nest, pull requests merged in 2022-08, with the labels that each got.

#10053 refactor(repl): use INestApplicationContext instead of full INestApplication
  packages/core/repl/repl-context.ts
  packages/core/repl/repl.ts
Labels: scope: core, type: refactor

#10085 refactor(common): optimize `ClassSerializerInterceptor`
  packages/common/serializer/class-serializer.interceptor.ts
Labels: scope: common, type: refactor

#10110 fix(microservice): grpc-client serialize error
  integration/microservices/e2e/sum-grpc.spec.ts
  integration/microservices/src/grpc/grpc.controller.ts
  integration/microservices/src/grpc/math.proto
  packages/microservices/client/client-grpc.ts
Labels: type: bug :sob:, scope: microservices

#10106 fix: add a check if the res is destroyed before sending response
  integration/send-files/e2e/express.spec.ts
  integration/send-files/e2e/utils.ts
  integration/send-files/src/app.controller.ts
  integration/send-files/src/app.service.ts
  packages/common/file-stream/streamable-file.ts
Labels: type: bug :sob:, scope: common

#10122 fix(microservices): close underlying server once if already terminated
  packages/microservices/nest-microservice.ts
Labels: type: bug :sob:, scope: microservices
