Repository nestjs/nest, pull requests merged in 2022-11, with the labels that each got.

#10505 sample(mongoose): change the way to define the mongoose document interface
  sample/06-mongoose/src/cats/schemas/cat.schema.ts
Labels: type: example

#10499 chore(common,core,express): update imports
  packages/common/services/console-logger.service.ts
  packages/core/helpers/handler-metadata-storage.ts
  packages/core/injector/injector.ts
  packages/core/injector/module.ts
  packages/core/middleware/builder.ts
  packages/core/nest-application-context.ts
  packages/platform-express/multer/interfaces/files-upload-module.interface.ts
Labels: type: refactor

#10521 feat(core): expose each option to get and resolve methods
  integration/injector/e2e/multiple-providers.spec.ts
  integration/injector/src/multiple-providers/a.module.ts
  integration/injector/src/multiple-providers/b.module.ts
  integration/injector/src/multiple-providers/c.module.ts
  integration/injector/src/multiple-providers/multiple-providers.module.ts
  packages/common/interfaces/nest-application-context.interface.ts
  packages/core/injector/abstract-instance-resolver.ts
  packages/core/injector/container.ts
  packages/core/injector/helpers/silent-logger.ts
  packages/core/injector/index.ts
  packages/core/injector/instance-links-host.ts
  packages/core/injector/instance-loader.ts
  packages/core/injector/internal-core-module/index.ts
  packages/core/injector/internal-core-module/internal-core-module-factory.ts
  packages/core/injector/internal-core-module/internal-core-module.ts
  packages/core/injector/lazy-module-loader/lazy-module-loader-options.interface.ts
  packages/core/injector/lazy-module-loader/lazy-module-loader.ts
  packages/core/injector/module-ref.ts
  packages/core/injector/module.ts
  packages/core/nest-application-context.ts
  packages/core/repl/repl-context.ts
  packages/core/scanner.ts
  packages/core/test/injector/internal-core-module/internal-core-module-factory.spec.ts
  packages/core/test/injector/lazy-module-loader/lazy-module-loader.spec.ts
Labels: type: enhancement :wolf:, scope: core

#10515 feat(common): Allow adding custom validators to ParseFilePipeBuilder
  packages/common/pipes/file/parse-file-pipe.builder.ts
  packages/common/test/pipes/file/parse-file-pipe.builder.spec.ts
Labels: type: enhancement :wolf:, scope: common

#10497 fix(core): change `repl()` function param type to `Type | DynamicModule`
  packages/core/repl/repl.ts
Labels: type: enhancement :wolf:, scope: core

#10484 Feature/8844 api version in route info
  integration/hello-world/e2e/middleware-with-versioning.spec.ts
  packages/common/interfaces/middleware/middleware-configuration.interface.ts
  packages/core/middleware/middleware-module.ts
  packages/core/middleware/routes-mapper.ts
  packages/core/nest-application.ts
  packages/core/test/middleware/builder.spec.ts
  packages/core/test/middleware/middleware-module.spec.ts
  packages/core/test/middleware/routes-mapper.spec.ts
Labels: type: feature :tada:, scope: core

#10481 feat(plataform-express): replace `any` return type on `#listen` with `Server`
  packages/platform-express/adapters/express-adapter.ts
  packages/platform-express/interfaces/nest-express-application.interface.ts
Labels: type: enhancement :wolf:, scope: platform

#10460 feat(common): add error options object
  packages/common/exceptions/bad-gateway.exception.ts
  packages/common/exceptions/bad-request.exception.ts
  packages/common/exceptions/conflict.exception.ts
  packages/common/exceptions/forbidden.exception.ts
  packages/common/exceptions/gateway-timeout.exception.ts
  packages/common/exceptions/gone.exception.ts
  packages/common/exceptions/http-version-not-supported.exception.ts
  packages/common/exceptions/http.exception.ts
  packages/common/exceptions/im-a-teapot.exception.ts
  packages/common/exceptions/internal-server-error.exception.ts
  packages/common/exceptions/method-not-allowed.exception.ts
  packages/common/exceptions/misdirected.exception.ts
  packages/common/exceptions/not-acceptable.exception.ts
  packages/common/exceptions/not-found.exception.ts
  packages/common/exceptions/not-implemented.exception.ts
  packages/common/exceptions/payload-too-large.exception.ts
  packages/common/exceptions/precondition-failed.exception.ts
  packages/common/exceptions/request-timeout.exception.ts
  packages/common/exceptions/service-unavailable.exception.ts
  packages/common/exceptions/unauthorized.exception.ts
  packages/common/exceptions/unprocessable-entity.exception.ts
  packages/common/exceptions/unsupported-media-type.exception.ts
  packages/common/test/exceptions/http.exception.spec.ts
Labels: type: enhancement :wolf:, scope: common

#10479 feat(core): display class's name on request mapping exceptions
  .gitignore
  packages/core/errors/exceptions/unknown-request-mapping.exception.ts
  packages/core/errors/messages.ts
  packages/core/router/router-explorer.ts
  packages/core/test/exceptions/external-exception-filter-context.spec.ts
  packages/core/test/exceptions/external-exceptions-handler.spec.ts
  packages/core/test/router/router-explorer.spec.ts
Labels: type: enhancement :wolf:, scope: core

#10345 fix(platform): shutdown hooks not firing caused by open http connections
  integration/nest-application/sse/e2e/express.spec.ts
  integration/nest-application/sse/e2e/fastify.spec.ts
  integration/nest-application/sse/src/app.controller.ts
  integration/nest-application/sse/src/app.module.ts
  integration/nest-application/sse/tsconfig.json
  packages/common/interfaces/nest-application-options.interface.ts
  packages/platform-express/adapters/express-adapter.ts
  sample/28-sse/src/main.ts
Labels: type: bug :sob:, scope: platform

#10459 fix(core): return response required for fastify v4
  packages/core/router/router-execution-context.ts
Labels: type: bug :sob:, scope: platform

#10527 chore: migrate to tsc composite mode (project references)
  .circleci/config.yml
  .gitignore
  .npmignore
  integration/auto-mock/tsconfig.json
  integration/cache/src/async-register-extra-providers/tsconfig.json
  integration/cache/src/async-register/tsconfig.json
  integration/cache/src/multi-store/tsconfig.json
  integration/cors/tsconfig.json
  integration/graphql-code-first/tsconfig.json
  integration/graphql-schema-first/tsconfig.json
  integration/hello-world/tsconfig.json
  integration/hooks/tsconfig.json
  integration/injector/tsconfig.json
  integration/microservices/tsconfig.json
  integration/module-utils/tsconfig.json
  integration/mongoose/tsconfig.json
  integration/nest-application/app-locals/tsconfig.json
  integration/nest-application/get-url/tsconfig.json
  integration/nest-application/global-prefix/tsconfig.json
  integration/nest-application/raw-body/tsconfig.json
  integration/nest-application/sse/tsconfig.json
  integration/repl/tsconfig.json
  integration/scopes/tsconfig.json
  integration/send-files/tsconfig.json
  integration/typeorm/tsconfig.json
  integration/versioning/tsconfig.json
  integration/websockets/tsconfig.json
  package.json
  packages/common/tsconfig.build.json
  packages/common/tsconfig.json
  packages/core/tsconfig.build.json
  packages/core/tsconfig.json
  packages/microservices/tsconfig.build.json
  packages/microservices/tsconfig.json
  packages/platform-express/tsconfig.build.json
  packages/platform-express/tsconfig.json
  packages/platform-fastify/tsconfig.build.json
  packages/platform-fastify/tsconfig.json
  packages/platform-socket.io/tsconfig.build.json
  packages/platform-socket.io/tsconfig.json
  packages/platform-ws/tsconfig.build.json
  packages/platform-ws/tsconfig.json
  packages/testing/tsconfig.build.json
  packages/testing/tsconfig.json
  packages/tsconfig.build.json
  packages/tsconfig.json
  packages/websockets/tsconfig.build.json
  packages/websockets/tsconfig.json
  tools/gulp/gulpfile.ts
  tools/gulp/tasks/move.ts
  tools/gulp/tasks/packages.ts
  tsconfig.json
  tsconfig.spec.json
Labels: type: build

#10605 fix: fastify-adapter register func sign #10604
  packages/platform-fastify/adapters/fastify-adapter.ts
Labels: type: bug :sob:, scope: platform
