Repository nestjs/nest, pull requests merged in 2022-03, with the labels that each got.

#9200 feat(microservices): Add options param to serializer
  packages/microservices/client/client-kafka.ts
  packages/microservices/interfaces/serializer.interface.ts
Labels: type: enhancement :wolf:, scope: microservices

#9227 feat(core): support optional dependencies in factory providers
  integration/injector/e2e/optional-factory-provider-dep.spec.ts
  packages/common/index.ts
  packages/common/interfaces/modules/index.ts
  packages/common/interfaces/modules/injection-token.interface.ts
  packages/common/interfaces/modules/optional-factory-dependency.interface.ts
  packages/common/interfaces/modules/provider.interface.ts
  packages/core/injector/injector.ts
  packages/core/injector/instance-wrapper.ts
  packages/core/injector/module.ts
  packages/core/scanner.ts
  packages/core/test/injector/injector.spec.ts
Labels: type: feature :tada:, scope: core

#9209 feat(common): add abstract type to catch decorator
  packages/common/decorators/core/catch.decorator.ts
Labels: type: enhancement :wolf:, scope: common

#9270 feat(microservices): add commit-offsets function to clientkafka
  packages/microservices/client/client-kafka.ts
Labels: type: enhancement :wolf:, scope: microservices

#9271 fix(core): use class refs as keys (container)
  integration/injector/e2e/injector.spec.ts
  integration/injector/src/inject/inject-same-name.module.ts
  integration/injector/src/self-injection/self-injection-provider.module.ts
  packages/core/injector/injector.ts
Labels: type: bug :sob:, scope: core

#8603 feat(common): Add custom versioning support.
  integration/versioning/e2e/custom-versioning-fastify.spec.ts
  integration/versioning/e2e/custom-versioning.spec.ts
  packages/common/enums/version-type.enum.ts
  packages/common/interfaces/version-options.interface.ts
  packages/core/router/router-explorer.ts
  packages/core/test/router/router-explorer.spec.ts
  packages/platform-express/adapters/express-adapter.ts
  packages/platform-fastify/adapters/fastify-adapter.ts
Labels: type: feature :tada:, scope: core

#9277 fix(microservices): remove options object from packets (rmq and mqtt)
  packages/microservices/client/client-mqtt.ts
  packages/microservices/client/client-rmq.ts
Labels: type: bug :sob:, scope: microservices

#8109 fix(microservices): mqtt shared subscription support
  integration/docker-compose.yml
  integration/microservices/e2e/sum-mqtt.spec.ts
  integration/microservices/src/mqtt/mqtt.controller.ts
  integration/mosquitto.conf
  package-lock.json
  package.json
  packages/microservices/server/server-mqtt.ts
Labels: type: enhancement :wolf:, scope: microservices

#9059 feat(microservices): add tcp raw data processing capabilities
  packages/microservices/client/client-tcp.ts
  packages/microservices/ctx-host/tcp.context.ts
  packages/microservices/helpers/index.ts
  packages/microservices/helpers/json-socket.ts
  packages/microservices/helpers/tcp-socket.ts
  packages/microservices/interfaces/client-metadata.interface.ts
  packages/microservices/interfaces/microservice-configuration.interface.ts
  packages/microservices/server/server-tcp.ts
Labels: type: enhancement :wolf:, scope: microservices

#9322 fix(core): use context module for nested transient providers
  packages/core/injector/injector.ts
Labels: type: bug :sob:, scope: core

#9316 feat: allow custom log msg formatters
  packages/common/services/console-logger.service.ts
  packages/common/test/services/logger.service.spec.ts
Labels: type: enhancement :wolf:, scope: common

#9303 fix(microservices): tcp client parallel connections issue
  packages/microservices/client/client-tcp.ts
Labels: type: bug :sob:, scope: microservices

#9290 fix(microservices): fix event pattern behavior
  packages/microservices/server/server-kafka.ts
  packages/microservices/test/server/server-kafka.spec.ts
Labels: type: bug :sob:, scope: microservices

#9278 feat(common): do not use colors in CLI if not supported
  packages/common/utils/cli-colors.util.ts
Labels: type: enhancement :wolf:, scope: common

#9332 fix(core): apply global middleware to routes excluded from prefix
  integration/nest-application/global-prefix/e2e/global-prefix.spec.ts
  integration/nest-application/global-prefix/src/app.controller.ts
  integration/nest-application/global-prefix/src/app.module.ts
  packages/core/middleware/middleware-module.ts
Labels: type: bug :sob:, scope: core

#9347 feat(microservices): allow to set custom transport to decorators
  packages/microservices/decorators/event-pattern.decorator.ts
  packages/microservices/decorators/message-pattern.decorator.ts
  packages/microservices/interfaces/custom-transport-strategy.interface.ts
  packages/microservices/test/listeners-controller.spec.ts
Labels: type: enhancement :wolf:, scope: microservices
