Repository nestjs/nest, pull requests merged in 2022-05, with the labels that each got.

#8865 sample(05-sql-typeorm): added test e2e
  sample/05-sql-typeorm/.gitignore
  sample/05-sql-typeorm/docker-compose.yml
  sample/05-sql-typeorm/package-lock.json
  sample/05-sql-typeorm/test/jest-e2e.json
  sample/05-sql-typeorm/test/users/users.e2e-spec.ts
Labels: scope: sample

#9506 feat(core): enhance circular dependency error message
  packages/core/injector/container.ts
Labels: type: enhancement :wolf:, scope: core

#9496 feat(common): improve extensibility on few built-in pipes
  packages/common/pipes/parse-bool.pipe.ts
  packages/common/pipes/parse-float.pipe.ts
  packages/common/pipes/parse-int.pipe.ts
Labels: type: enhancement :wolf:, scope: common

#9456 fix(core): scoped injection with symbol field name
  packages/core/injector/injector.ts
  packages/core/injector/instance-wrapper.ts
  packages/core/nest-application-context.ts
  packages/core/test/injector/injector.spec.ts
  packages/core/test/nest-application-context.spec.ts
Labels: type: bug :sob:, scope: core

#8459 fix(common): ParseUUIDPipe - throw exceptions with exceptionFactory only
  packages/common/pipes/parse-uuid.pipe.ts
  packages/common/test/pipes/parse-int.pipe.spec.ts
  packages/common/test/pipes/parse-uuid.pipe.spec.ts
  packages/common/utils/is-uuid.ts
Labels: type: enhancement :wolf:, scope: common, status: blocked 🚫

#8058 Improve ParseUUIDPipe error message
  packages/common/pipes/parse-uuid.pipe.ts
Labels: scope: common, status: blocked 🚫

#9023 fix: fix factory provider definition
  packages/common/interfaces/modules/provider.interface.ts
Labels: type: enhancement :wolf:, scope: common, status: blocked 🚫

#9383 feat(common)!: disallow usage of `inject` on class and value providers at type level
  packages/common/interfaces/modules/provider.interface.ts
Labels: type: enhancement :wolf:, scope: common, status: done 👏, status: blocked 🚫

#9491 Use rxjs when checking if the value is an observable
  packages/core/router/router-response-controller.ts
  packages/core/test/router/router-response-controller.spec.ts
  packages/websockets/test/web-sockets-controller.spec.ts
  packages/websockets/web-sockets-controller.ts
Labels: type: enhancement :wolf:, scope: core

#9230 feat(microservices): add support for multiple message pattern decorator
  package-lock.json
  packages/microservices/decorators/event-pattern.decorator.ts
  packages/microservices/decorators/message-pattern.decorator.ts
  packages/microservices/listener-metadata-explorer.ts
  packages/microservices/listeners-controller.ts
  packages/microservices/test/decorators/event-pattern.decorator.spec.ts
  packages/microservices/test/decorators/message-pattern.decorator.spec.ts
  packages/microservices/test/listeners-controller.spec.ts
  packages/microservices/test/listeners-metadata-explorer.spec.ts
Labels: type: enhancement :wolf:, scope: microservices

#9586 feat(microservices): add kafka retriable exception, auto-unwrap payloads
  packages/microservices/constants.ts
  packages/microservices/context/rpc-proxy.ts
  packages/microservices/ctx-host/kafka.context.ts
  packages/microservices/deserializers/kafka-request.deserializer.ts
  packages/microservices/exceptions/index.ts
  packages/microservices/exceptions/kafka-retriable-exception.ts
  packages/microservices/microservices-module.ts
  packages/microservices/server/server-kafka.ts
  packages/microservices/server/server.ts
  packages/microservices/test/ctx-host/kafka.context.spec.ts
  packages/microservices/test/server/server-kafka.spec.ts
Labels: type: enhancement :wolf:, scope: microservices

#9587 fix(microservices): revert grpc client interceptors (grpc-specific)
  packages/microservices/external/grpc-options.interface.ts
  packages/microservices/interfaces/microservice-configuration.interface.ts
Labels: type: bug :sob:, scope: microservices

#9507 chore: update fastify deps
  package-lock.json
  package.json
  packages/platform-fastify/adapters/fastify-adapter.ts
  packages/platform-fastify/interfaces/external/fastify-static-options.interface.ts
  packages/platform-fastify/interfaces/external/point-of-view-options.interface.ts
  packages/platform-fastify/interfaces/nest-fastify-application.interface.ts
  packages/platform-fastify/package.json
  sample/17-mvc-fastify/package-lock.json
  sample/17-mvc-fastify/package.json
Labels: scope: platform, status: blocked 🚫

#9457 feat(microservices): Introduce producerOnlyMode to ClientKafka
  packages/microservices/client/client-kafka.ts
  packages/microservices/interfaces/microservice-configuration.interface.ts
  packages/microservices/test/client/client-kafka.spec.ts
Labels: type: enhancement :wolf:, scope: microservices

#9342 feat(platform): add option to register raw body to request
  integration/nest-application/raw-body/e2e/express.spec.ts
  integration/nest-application/raw-body/e2e/fastify.spec.ts
  integration/nest-application/raw-body/src/express.controller.ts
  integration/nest-application/raw-body/src/express.module.ts
  integration/nest-application/raw-body/src/fastify.controller.ts
  integration/nest-application/raw-body/src/fastify.module.ts
  integration/nest-application/raw-body/tsconfig.json
  packages/common/http/interfaces/index.ts
  packages/common/http/interfaces/raw-body-request.interface.ts
  packages/common/interfaces/http/http-server.interface.ts
  packages/common/interfaces/nest-application-options.interface.ts
  packages/core/adapters/http-adapter.ts
  packages/core/nest-application.ts
  packages/platform-express/adapters/express-adapter.ts
  packages/platform-fastify/adapters/fastify-adapter.ts
Labels: type: feature :tada:, scope: core, scope: platform

#8798 feat(microservices): migrate redis transporter to internally use ioredis package
  .circleci/config.yml
  integration/microservices/e2e/disconnected-client.spec.ts
  integration/microservices/src/disconnected.controller.ts
  package-lock.json
  package.json
  packages/microservices/client/client-redis.ts
  packages/microservices/constants.ts
  packages/microservices/external/redis.interface.ts
  packages/microservices/interfaces/microservice-configuration.interface.ts
  packages/microservices/listeners-controller.ts
  packages/microservices/server/server-redis.ts
  packages/microservices/test/client/client-redis.spec.ts
  packages/microservices/test/listeners-controller.spec.ts
  packages/microservices/test/server/server-redis.spec.ts
Labels: type: enhancement :wolf:, scope: microservices

#9311 Refactoring(core): Change ReflectMetadata Params Order
  packages/core/scanner.ts
Labels: scope: core, status: blocked 🚫

#9596 feat(core)!: throw an exception instead of logging due to module import misusage
  packages/core/errors/messages.ts
  packages/core/scanner.ts
  packages/core/test/scanner.spec.ts
Labels: type: enhancement :wolf:, scope: core

#9591 feat(common,core)!: make `HttpServer#applyVersionFilter` mandatory
  packages/common/interfaces/http/http-server.interface.ts
  packages/core/adapters/http-adapter.ts
  packages/core/router/router-explorer.ts
  packages/core/test/router/router-explorer.spec.ts
  packages/core/test/utils/noop-adapter.spec.ts
  packages/platform-express/adapters/express-adapter.ts
  packages/platform-fastify/adapters/fastify-adapter.ts
Labels: type: enhancement :wolf:, scope: core, scope: platform

#9697 feat(core): add durable providers feature
  integration/scopes/e2e/durable-providers.spec.ts
  integration/scopes/src/durable/durable-context-id.strategy.ts
  integration/scopes/src/durable/durable.controller.ts
  integration/scopes/src/durable/durable.module.ts
  integration/scopes/src/durable/durable.service.ts
  packages/common/decorators/core/controller.decorator.ts
  packages/common/interfaces/modules/provider.interface.ts
  packages/common/interfaces/scope-options.interface.ts
  packages/core/helpers/context-id-factory.ts
  packages/core/helpers/is-durable.ts
  packages/core/injector/index.ts
  packages/core/injector/injector.ts
  packages/core/injector/instance-wrapper.ts
  packages/core/injector/module-ref.ts
  packages/core/injector/module.ts
  packages/core/middleware/container.ts
  packages/core/test/injector/instance-wrapper.spec.ts
  packages/core/test/injector/module.spec.ts
Labels: type: feature :tada:, scope: core
