Repository nestjs/nest, pull requests merged in 2022-07, with the labels that each got.

#9922 fix(core): scoped factories should not fail with optional deps
  integration/injector/e2e/optional-factory-provider-dep.spec.ts
  packages/core/injector/injector.ts
Labels: type: bug :sob:, scope: core

#9915 refactor(core): extract instance wrapper merge logic
  packages/core/injector/helpers/provider-classifier.ts
  packages/core/injector/instance-wrapper.ts
  packages/core/test/injector/helpers/provider-classifier.spec.ts
  packages/core/test/injector/instance-wrapper.spec.ts
Labels: scope: core, type: refactor

#9926 fix(express,fastify): raw body for urlencoded requests
  integration/nest-application/raw-body/e2e/express.spec.ts
  integration/nest-application/raw-body/e2e/fastify.spec.ts
  packages/platform-express/adapters/express-adapter.ts
  packages/platform-express/adapters/utils/get-body-parser-options.util.ts
  packages/platform-fastify/adapters/fastify-adapter.ts
Labels: type: enhancement :wolf:, scope: platform

#9798 feat(microservices): add noAssert option for RMQ connection
  packages/microservices/client/client-rmq.ts
  packages/microservices/constants.ts
  packages/microservices/interfaces/microservice-configuration.interface.ts
  packages/microservices/server/server-rmq.ts
Labels: type: enhancement :wolf:, scope: microservices

#9836 feat(core): add option to disable logs on `LazyModuleLoader#load`
  packages/core/injector/instance-loader.ts
  packages/core/injector/lazy-module-loader-options.interface.ts
  packages/core/injector/lazy-module-loader.ts
  packages/core/injector/silent-logger.ts
Labels: type: enhancement :wolf:, scope: core

#9935 feat(common): pass options to nested async modules
  packages/common/module-utils/configurable-module.builder.ts
  packages/common/module-utils/interfaces/configurable-module-async-options.interface.ts
  packages/common/module-utils/utils/get-injection-providers.util.ts
  packages/common/test/module-utils/configurable-module.builder.spec.ts
  packages/common/test/module-utils/utils/get-injection-providers.util.spec.ts
Labels: type: feature :tada:, scope: core

#9996 fix(microservices): prevent kafka parser from modifying received message
  packages/microservices/helpers/kafka-parser.ts
  packages/microservices/test/client/client-kafka.spec.ts
  packages/microservices/test/helpers/kafka-parser.spec.ts
Labels: type: bug :sob:, scope: microservices

#10022 fix(microservices): pass options to rmq deserialize
  packages/microservices/client/client-rmq.ts
  packages/microservices/server/server-rmq.ts
Labels: type: enhancement :wolf:, scope: microservices

#10025 Fix/10017 parse file pipe builder
  packages/common/pipes/file/parse-file-options.interface.ts
  packages/common/pipes/file/parse-file.pipe.ts
  packages/common/test/pipes/file/parse-file.pipe.spec.ts
  sample/29-file-upload/e2e/app/app.e2e-spec.ts
  sample/29-file-upload/src/app.controller.ts
Labels: type: bug :sob:, scope: common

#8952 chore: fix Readme.md translation
  Readme.md
  readme_jp.md
  readme_kr.md
Labels: type: docs :page_facing_up:

#10042 feat(microservices): add "maxConnectionAttempts" option to RMQ, hide urls log
  packages/microservices/interfaces/microservice-configuration.interface.ts
  packages/microservices/server/server-rmq.ts
Labels: type: enhancement :wolf:, scope: microservices
