Repository nestjs/nest, pull requests merged in 2022-10, with the labels that each got.

#10335 ci(codeql-analysis): upgrade actions/checkout to v3
  .github/workflows/codeql-analysis.yml
Labels: type: ci :wrench:

#10326 feat(common): make `transformDefinition` optional
  packages/common/module-utils/configurable-module.builder.ts
Labels: type: enhancement :wolf:, scope: common

#10346 fix: support cache manager v4 and v5
  packages/common/cache/cache.providers.ts
  packages/common/package.json
Labels: type: bug :sob:, scope: common

#10360 fix: update factory to account for old v4 syntax for cache stores
  packages/common/cache/cache.providers.ts
Labels: type: bug :sob:, scope: common

#10409 refactor(core): early return on rejection on `getUrl`
  packages/core/nest-application.ts
Labels: scope: core, type: refactor

#10365 feat(common): ConsoleLogger: extract protected formatTimestampDiff
  packages/common/services/console-logger.service.ts
Labels: type: enhancement :wolf:, scope: common

#10364 feat(common): ConsoleLogger: extract protected formatContext method
  packages/common/services/console-logger.service.ts
Labels: type: enhancement :wolf:, scope: common
