Repository nestjs/nest, pull requests merged in 2022-09, with the labels that each got.

#10291 fix(common): stringify arrays on printing with console-logger
  packages/common/services/console-logger.service.ts
  packages/common/test/services/logger.service.spec.ts
Labels: type: bug :sob:, scope: common

#10272 feat(microservices): Add producer reference to KafkaContext
  packages/microservices/ctx-host/kafka.context.ts
  packages/microservices/server/server-kafka.ts
  packages/microservices/test/ctx-host/kafka.context.spec.ts
Labels: type: enhancement :wolf:, scope: microservices

#10209 fix(microservices): multiple scoped event handlers issue #10184
  packages/microservices/listeners-controller.ts
Labels: type: bug :sob:, scope: microservices

#10087 feat(common): allow to serialize plain object
  packages/common/serializer/class-serializer.interceptor.ts
  packages/common/serializer/class-serializer.interfaces.ts
  packages/common/serializer/decorators/serialize-options.decorator.ts
  packages/common/serializer/index.ts
Labels: type: enhancement :wolf:, scope: common

#10112 perf(core): optimize reflector
  packages/core/services/reflector.service.ts
Labels: type: enhancement :wolf:, scope: core

#10285 fix(common): make `ExtraModuleDefinitionOptions` partial in `OPTIONS_TYPE`
  packages/common/module-utils/interfaces/configurable-module-cls.interface.ts
  packages/common/module-utils/interfaces/configurable-module-host.interface.ts
Labels: type: enhancement :wolf:, scope: common

#10224 feat(microservices): path, package and service names added to exceptions
  packages/microservices/client/client-grpc.ts
  packages/microservices/errors/invalid-grpc-package.exception.ts
  packages/microservices/errors/invalid-grpc-service.exception.ts
  packages/microservices/errors/invalid-proto-definition.exception.ts
  packages/microservices/server/server-grpc.ts
Labels: type: enhancement :wolf:, scope: microservices

#10243 feat(common): wrap cacheManager.set in try..catch blocks
  packages/common/cache/interceptors/cache.interceptor.ts
Labels: type: bug :sob:, scope: common
