Repository nestjs/nest, pull requests merged in 2023-08, with the labels that each got.

#11992 feat(fastify): supporting fastify route config
  packages/core/router/router-explorer.ts
  packages/core/test/router/router-explorer.spec.ts
  packages/platform-fastify/adapters/fastify-adapter.ts
  packages/platform-fastify/constants.ts
  packages/platform-fastify/decorators/index.ts
  packages/platform-fastify/decorators/route-config.decorator.ts
  packages/platform-fastify/index.ts
  packages/platform-fastify/test/decorators/router-config.decorator.spec.ts
Labels: type: feature :tada:, scope: platform

#12096 fix(common): fix custom multi file validator
  packages/common/pipes/file/file-validator.interface.ts
Labels: type: enhancement :wolf:, scope: common

#12161 feat(common): added "fatal" as a log level (issue #11945)
  packages/common/services/console-logger.service.ts
  packages/common/services/logger.service.ts
  packages/common/services/utils/is-log-level-enabled.util.ts
  packages/core/injector/helpers/silent-logger.ts
Labels: type: enhancement :wolf:, scope: common

#12107 feat(core): discover by decorator, explorer pattern
  integration/discovery/e2e/discover-by-meta.spec.ts
  integration/discovery/src/app.module.ts
  integration/discovery/src/decorators/webhook.decorators.ts
  integration/discovery/src/my-webhook/cleanup.webhook.ts
  integration/discovery/src/my-webhook/flush.webhook.ts
  integration/discovery/src/my-webhook/my-webhook.module.ts
  integration/discovery/src/webhooks.explorer.ts
  integration/discovery/tsconfig.json
  packages/core/discovery/discoverable-meta-host-collection.ts
  packages/core/discovery/discovery-service.ts
  packages/core/injector/container.ts
  packages/core/injector/module.ts
  packages/core/test/injector/container.spec.ts
Labels: type: feature :tada:, scope: core

#12237 feat(core): add strongly-typed decorators factory (reflector)
  packages/core/services/reflector.service.ts
  packages/core/test/services/reflector.service.spec.ts
  sample/01-cats-app/src/cats/cats.controller.ts
  sample/01-cats-app/src/common/decorators/roles.decorator.ts
  sample/01-cats-app/src/common/guards/roles.guard.ts
Labels: type: feature :tada:, scope: core

#12276 feat(core): add generic type for transformed value in decorators factory
  packages/core/services/reflector.service.ts
  packages/core/test/services/reflector.service.spec.ts
Labels: type: enhancement :wolf:, scope: core

#12282 fix(microservices): handle error thrown in the stream gRPC controller
  packages/microservices/server/server-grpc.ts
  packages/microservices/test/server/server-grpc.spec.ts
Labels: type: bug :sob:, scope: microservices

#12290 fix: appropriately handle backpressure
  packages/microservices/server/server-grpc.ts
  packages/microservices/test/server/server-grpc.spec.ts
Labels: type: bug :sob:, scope: microservices

#12331 fix(grpc): will properly write to streams
  packages/microservices/server/server-grpc.ts
  packages/microservices/test/server/server-grpc.spec.ts
Labels: type: bug :sob:, scope: microservices
