Repository nestjs/nest, pull requests merged in 2023-04, with the labels that each got.

#10628 feat(microservice): TCP microservice over TLS
  integration/microservices/e2e/sum-rpc-tls.spec.ts
  integration/microservices/src/tcp-tls/app.controller.ts
  integration/microservices/src/tcp-tls/app.module.ts
  integration/microservices/src/tcp-tls/ca.cert.pem
  integration/microservices/src/tcp-tls/privkey.pem
  package.json
  packages/microservices/client/client-tcp.ts
  packages/microservices/interfaces/client-metadata.interface.ts
  packages/microservices/interfaces/microservice-configuration.interface.ts
  packages/microservices/server/server-tcp.ts
  packages/microservices/test/client/client-tcp.spec.ts
Labels: type: feature :tada:, scope: microservices

#11325 fix(express): remove body-parser types and ship these types our own
  packages/platform-express/adapters/express-adapter.ts
  packages/platform-express/adapters/utils/get-body-parser-options.util.ts
  packages/platform-express/interfaces/index.ts
  packages/platform-express/interfaces/nest-express-application.interface.ts
  packages/platform-express/interfaces/nest-express-body-parser-options.interface.ts
  packages/platform-express/interfaces/nest-express-body-parser.interface.ts
Labels: type: bug :sob:, scope: platform

#11427 chore(common): deprecate cache module
  packages/common/cache/cache.constants.ts
  packages/common/cache/cache.module.ts
  packages/common/cache/decorators/cache-key.decorator.ts
  packages/common/cache/decorators/cache-ttl.decorator.ts
  packages/common/cache/interceptors/cache.interceptor.ts
Labels: scope: common

#11188 fix(ws): mount multi `ws` servers on different paths
  packages/platform-ws/adapters/ws-adapter.ts
Labels: type: bug :sob:, scope: platform

#10228 test(sample-02): added unit tests
  sample/02-gateways/e2e/events-gateway/gateway.e2e-spec.ts
  sample/02-gateways/e2e/jest-e2e.json
  sample/02-gateways/jest.json
  sample/02-gateways/package-lock.json
  sample/02-gateways/package.json
  sample/02-gateways/src/events/events.gateway.spec.ts
Labels: type: example

#11426 feat: allow extension of microservice event and message extras
  packages/microservices/decorators/event-pattern.decorator.ts
  packages/microservices/decorators/message-pattern.decorator.ts
  packages/microservices/test/decorators/event-pattern.decorator.spec.ts
  packages/microservices/test/decorators/message-pattern.decorator.spec.ts
Labels: type: enhancement :wolf:, scope: microservices

#11428 chore(common): remove cache module
  integration/cache/e2e/async-register-extra-providers.ts
  integration/cache/e2e/async-register.spec.ts
  integration/cache/e2e/custom-ttl.spec.ts
  integration/cache/e2e/multi-store.spec.ts
  integration/cache/src/async-register-extra-providers/async-register-extra.controller.ts
  integration/cache/src/async-register-extra-providers/async-register-extra.module.ts
  integration/cache/src/async-register-extra-providers/config/cache.config.ts
  integration/cache/src/async-register-extra-providers/config/config.module.ts
  integration/cache/src/async-register-extra-providers/config/config.service.ts
  integration/cache/src/async-register-extra-providers/tsconfig.json
  integration/cache/src/async-register/async-register.controller.ts
  integration/cache/src/async-register/async-register.module.ts
  integration/cache/src/async-register/config/cache.config.ts
  integration/cache/src/async-register/tsconfig.json
  integration/cache/src/custom-ttl/custom-ttl.controller.ts
  integration/cache/src/custom-ttl/custom-ttl.module.ts
  integration/cache/src/custom-ttl/tsconfig.json
  integration/cache/src/multi-store/multi-store.controller.ts
  integration/cache/src/multi-store/multi-store.module.ts
  integration/cache/src/multi-store/tsconfig.json
  packages/common/cache/cache.constants.ts
  packages/common/cache/cache.module-definition.ts
  packages/common/cache/cache.module.ts
  packages/common/cache/cache.providers.ts
  packages/common/cache/decorators/cache-key.decorator.ts
  packages/common/cache/decorators/cache-ttl.decorator.ts
  packages/common/cache/decorators/index.ts
  packages/common/cache/default-options.ts
  packages/common/cache/index.ts
  packages/common/cache/interceptors/cache.interceptor.ts
  packages/common/cache/interceptors/index.ts
  packages/common/cache/interfaces/cache-manager.interface.ts
  packages/common/cache/interfaces/cache-module.interface.ts
  packages/common/cache/interfaces/index.ts
  packages/common/index.ts
  packages/common/test/decorators/cache.decorator.spec.ts
  packages/core/injector/internal-core-module/internal-core-module-factory.ts
  packages/core/test/injector/internal-core-module/internal-core-module-factory.spec.ts
Labels: scope: common, status: blocked 🚫

#11413 chore(): update interface deprecated for kafka
  packages/microservices/interfaces/microservice-configuration.interface.ts
Labels: scope: microservices

#11318 fix(common): fix @Inject and @Optional return types
  packages/common/decorators/core/inject.decorator.ts
  packages/common/decorators/core/optional.decorator.ts
Labels: scope: common, type: refactor

#10549 fix(microservices): allow falsy values in options
  packages/microservices/client/client-kafka.ts
  packages/microservices/client/client-proxy.ts
Labels: type: bug :sob:, scope: microservices

#11040 feat(common): define type for file input
  packages/common/pipes/file/file-type.validator.ts
  packages/common/pipes/file/file-validator.interface.ts
  packages/common/pipes/file/interfaces/file.interface.ts
  packages/common/pipes/file/interfaces/index.ts
  packages/common/pipes/file/max-file-size.validator.ts
  packages/common/test/pipes/file/file-type.validator.spec.ts
  packages/common/test/pipes/file/max-file-size.validator.spec.ts
  packages/common/test/pipes/file/parse-file-pipe.builder.spec.ts
Labels: scope: common, status: blocked 🚫

#10953 fix(common)!: when transforming optional boolean parameters on `ValidationPipe`
  packages/common/pipes/validation.pipe.ts
  packages/common/test/pipes/validation.pipe.spec.ts
Labels: type: enhancement :wolf:, scope: common, status: blocked 🚫

#11142 feat: Support async local storage in interceptors
  packages/core/interceptors/interceptors-consumer.ts
  packages/core/test/interceptors/interceptors-consumer.spec.ts
Labels: type: enhancement :wolf:, scope: core

#10133 refactor(): refactor exception handlers
  packages/common/test/utils/select-exception-filter-metadata.util.spec.ts
  packages/common/utils/select-exception-filter-metadata.util.ts
  packages/core/exceptions/exceptions-handler.ts
  packages/core/exceptions/external-exceptions-handler.ts
  packages/microservices/exceptions/rpc-exceptions-handler.ts
  packages/websockets/exceptions/ws-exceptions-handler.ts
Labels: type: refactor

#10630 feat(common)!: narrow `getInstance` return type for http adapters
  packages/common/interfaces/http/http-server.interface.ts
  packages/platform-express/interfaces/nest-express-application.interface.ts
  packages/platform-fastify/interfaces/nest-fastify-application.interface.ts
Labels: type: enhancement :wolf:, scope: platform, status: blocked 🚫

#11118 feat(core): add support to named groups
  packages/core/router/router-explorer.ts
Labels: type: enhancement :wolf:, scope: core

#10359 feat(microservices): enable wildcards in redis microservice patterns
  packages/microservices/interfaces/microservice-configuration.interface.ts
  packages/microservices/server/server-redis.ts
  packages/microservices/test/server/server-redis.spec.ts
Labels: type: enhancement :wolf:, scope: microservices
