Repository nestjs/nest, pull requests merged in 2023-02, with the labels that each got.

#10889 fix(fastify): return the response on exception
  packages/core/router/router-proxy.ts
Labels: type: bug :sob:, scope: platform

#10823 perf(common): faster logs by caching intl.datetimeformat
  packages/common/services/console-logger.service.ts
  packages/common/services/logger.service.ts
Labels: type: enhancement :wolf:, scope: common

#10799 chore(fastify-adapter): updated the method for fastify logger
  packages/platform-fastify/adapters/fastify-adapter.ts
Labels: scope: platform

#10822 fix(core): ModuleRef#get and #resolve opts default values
  packages/core/injector/module-ref.ts
  packages/core/injector/module.ts
Labels: type: bug :sob:, scope: core

#10834 [platform-fastify]fix: :bug: Fix context prop
  packages/platform-fastify/adapters/fastify-adapter.ts
Labels: type: bug :sob:, scope: platform

#10970 fix(common): inject decorator should allow key to be undefined
  packages/common/decorators/core/inject.decorator.ts
  packages/common/decorators/core/optional.decorator.ts
Labels: scope: common

#10975 docs(common): add `@publicApi` to all user-facing APIs
  packages/common/cache/interceptors/cache.interceptor.ts
  packages/common/decorators/core/dependencies.decorator.ts
  packages/common/decorators/core/injectable.decorator.ts
  packages/common/decorators/http/create-route-param-metadata.decorator.ts
  packages/common/enums/http-status.enum.ts
  packages/common/file-stream/streamable-file.ts
  packages/common/file-stream/streamable-options.interface.ts
  packages/common/interfaces/features/custom-route-param-factory.interface.ts
  packages/common/interfaces/features/paramtype.interface.ts
  packages/common/interfaces/http/raw-body-request.interface.ts
  packages/common/interfaces/microservices/nest-hybrid-application-options.interface.ts
  packages/common/interfaces/microservices/nest-microservice-options.interface.ts
  packages/common/interfaces/middleware/middleware-config-proxy.interface.ts
  packages/common/interfaces/middleware/nest-middleware.interface.ts
  packages/common/interfaces/modules/injection-token.interface.ts
  packages/common/interfaces/modules/nest-module.interface.ts
  packages/common/interfaces/modules/optional-factory-dependency.interface.ts
  packages/common/interfaces/version-options.interface.ts
  packages/common/interfaces/websockets/web-socket-adapter.interface.ts
  packages/common/pipes/file/file-validator.interface.ts
  packages/common/pipes/file/parse-file-options.interface.ts
  packages/common/pipes/file/parse-file-pipe.builder.ts
  packages/common/pipes/parse-array.pipe.ts
  packages/common/pipes/parse-bool.pipe.ts
  packages/common/pipes/parse-enum.pipe.ts
  packages/common/pipes/parse-float.pipe.ts
  packages/common/pipes/parse-int.pipe.ts
  packages/common/pipes/parse-uuid.pipe.ts
  packages/common/pipes/validation.pipe.ts
  packages/common/serializer/class-serializer.interceptor.ts
  packages/common/serializer/class-serializer.interfaces.ts
  packages/common/serializer/decorators/serialize-options.decorator.ts
  packages/common/services/logger.service.ts
  packages/common/utils/forward-ref.util.ts
Labels: type: docs :page_facing_up:

#10880 fix(express): Map missing multer error and map busboy errors
  packages/platform-express/multer/multer/multer.constants.ts
  packages/platform-express/multer/multer/multer.utils.ts
  packages/platform-express/test/multer/multer/multer.utils.spec.ts
Labels: type: enhancement :wolf:, scope: platform

#10698 fix(core): Making Request scope non durable win over scope durable
  packages/core/injector/instance-wrapper.ts
  packages/core/test/injector/instance-wrapper.spec.ts
Labels: type: bug :sob:, scope: core

#10625 fix(core): fix reflectConstructorParams mutating constructor metadata
  packages/core/injector/injector.ts
  packages/core/test/injector/injector.spec.ts
Labels: type: enhancement :wolf:, scope: core

#10882 chore(common): refactor improvements interfaces for file-stream and fix for headers already sent case
  packages/common/file-stream/interfaces/index.ts
  packages/common/file-stream/interfaces/streamable-handler-response.interface.ts
  packages/common/file-stream/interfaces/streamable-options.interface.ts
  packages/common/file-stream/streamable-file.ts
Labels: type: bug :sob:, scope: common

#10888 refactor(): improvements the imports
  packages/common/services/logger.service.ts
  packages/core/helpers/external-context-creator.ts
  packages/core/router/router-explorer.ts
  packages/core/scanner.ts
  packages/testing/testing-module.builder.ts
  packages/websockets/context/ws-context-creator.ts
Labels: type: code style

#10809 fix(core,microservices): inject the context when the tree is not durable
  packages/core/middleware/middleware-module.ts
  packages/core/router/router-explorer.ts
  packages/microservices/listeners-controller.ts
Labels: type: bug :sob:, scope: core

#10801 fix(core): fix global prefix not working
  packages/core/middleware/middleware-module.ts
  packages/core/middleware/utils.ts
  packages/core/nest-application.ts
  packages/core/router/interfaces/exclude-route-metadata.interface.ts
  packages/core/test/application-config.spec.ts
  packages/core/test/router/route-path-factory.spec.ts
Labels: type: bug :sob:, scope: core

#10696 fix(core): process exit before shutdown hook end
  packages/core/nest-application-context.ts
  packages/core/test/nest-application-context.spec.ts
Labels: type: enhancement :wolf:, scope: core

#10633 [Feature] Allow registering body parsers, while respecting application's `rawBody` option
  integration/nest-application/use-body-parser/e2e/express.spec.ts
  integration/nest-application/use-body-parser/e2e/fastify.spec.ts
  integration/nest-application/use-body-parser/src/app.controller.ts
  integration/nest-application/use-body-parser/src/app.module.ts
  integration/nest-application/use-body-parser/tsconfig.json
  packages/common/interfaces/http/http-server.interface.ts
  packages/core/nest-application.ts
  packages/platform-express/adapters/express-adapter.ts
  packages/platform-express/interfaces/index.ts
  packages/platform-express/interfaces/nest-express-application.interface.ts
  packages/platform-express/interfaces/nest-express-body-parser-options.interface.ts
  packages/platform-fastify/adapters/fastify-adapter.ts
  packages/platform-fastify/interfaces/index.ts
  packages/platform-fastify/interfaces/nest-fastify-application.interface.ts
  packages/platform-fastify/interfaces/nest-fastify-body-parser-options.interface.ts
Labels: type: feature :tada:, scope: platform

#10627 Adapt fastify adapter to comply with fastify.listen(FastifyListenOptions) - and make it compatible with Microsoft IIS
  packages/platform-fastify/adapters/fastify-adapter.ts
Labels: type: enhancement :wolf:, scope: platform

#10531 fix(common): correct order for logger error parameters
  packages/common/services/logger.service.ts
  packages/common/test/services/logger.service.spec.ts
Labels: type: bug :sob:, scope: common

#10737 Parse file pipe fix (multiple files validation)
  packages/common/pipes/file/parse-file.pipe.ts
Labels: type: enhancement :wolf:, scope: common

#10982 fix: kafka rpc exception not resolved
  packages/microservices/server/server-kafka.ts
Labels: type: bug :sob:, scope: microservices

#11001 refactor(microservices): use switch case for types of statuses in server
  packages/microservices/server/server-nats.ts
Labels: type: enhancement :wolf:, scope: microservices

#10474 Fix Content-Type for unexpected errors in Fastify
  integration/hello-world/e2e/exceptions.spec.ts
  integration/hello-world/src/errors/errors.controller.ts
  packages/platform-express/adapters/express-adapter.ts
  packages/platform-fastify/adapters/fastify-adapter.ts
Labels: type: bug :sob:, scope: platform

#11019 fix(microservices): rmq should gracefully reconnect upon error
  packages/microservices/client/client-rmq.ts
  packages/microservices/test/client/client-rmq.spec.ts
Labels: type: bug :sob:, scope: microservices

#11026 fix(microservices): messages emitted before kafka client is ready fail
  packages/microservices/client/client-kafka.ts
  packages/microservices/test/client/client-kafka.spec.ts
Labels: type: bug :sob:, scope: microservices

#11031 fix(core): unwrap forward ref in module compiler
  packages/core/injector/compiler.ts
Labels: scope: core

#11028 chore(common): set forbid unknown values to false by default
  packages/common/pipes/validation.pipe.ts
  packages/common/test/pipes/validation.pipe.spec.ts
Labels: scope: common

#11041 fix(core): :ambulance: Fix for calculating durability of a provider
  packages/core/injector/instance-wrapper.ts
  packages/core/test/injector/instance-wrapper.spec.ts
Labels: type: bug :sob:, scope: core

#11023 perf: module token factory fast path
  package-lock.json
  package.json
  packages/core/injector/module-token-factory.ts
  packages/core/package.json
  packages/core/test/injector/module-token-factory.spec.ts
Labels: type: enhancement :wolf:, scope: core, type: refactor

#11022 perf: metadata scanner
  packages/core/metadata-scanner.ts
  packages/core/repl/native-functions/methods-repl-fn.ts
  packages/core/router/paths-explorer.ts
  packages/core/scanner.ts
  packages/core/test/metadata-scanner.spec.ts
  packages/microservices/listener-metadata-explorer.ts
  packages/microservices/test/listeners-metadata-explorer.spec.ts
  packages/websockets/gateway-metadata-explorer.ts
  packages/websockets/test/gateway-metadata-explorer.spec.ts
Labels: type: enhancement :wolf:, scope: core, type: refactor

#11053 chore(core): remove uuid dependency
  integration/inspector/e2e/fixtures/post-init-graph.json
  integration/inspector/e2e/fixtures/pre-init-graph.json
  packages/core/injector/modules-container.ts
  packages/core/inspector/deterministic-uuid-registry.ts
  packages/core/middleware/utils.ts
  packages/core/package.json
  packages/microservices/listener-metadata-explorer.ts
  packages/websockets/gateway-metadata-explorer.ts
Labels: type: enhancement :wolf:, scope: core, type: refactor

#11066 fix: skip caching the response if it is a streamable file instance
  packages/common/cache/interceptors/cache.interceptor.ts
Labels: type: bug :sob:, scope: common

#11069 build(core): need to depend on the uid
  packages/core/package.json
Labels: scope: core, type: build

#11081 fix(common): account for when stack is undefined in logger
  packages/common/services/console-logger.service.ts
  packages/common/test/services/logger.service.spec.ts
Labels: type: bug :sob:, scope: common

#11073 fix(core): removed xxhash to fix #11071
  package-lock.json
  package.json
  packages/core/injector/module-token-factory.ts
  packages/core/inspector/deterministic-uuid-registry.ts
  packages/core/package.json
Labels: type: bug :sob:, scope: core
