Repository nestjs/nest, pull requests merged in 2023-09, with the labels that each got.

#12321 fix(ws): fix incorrect host pattern on messages
  packages/platform-ws/adapters/ws-adapter.ts
Labels: type: bug :sob:, scope: websockets

#12350 feat: implement http redirect response interface
  packages/common/index.ts
  packages/common/interfaces/http/http-redirect-response.interface.ts
  packages/common/interfaces/http/index.ts
Labels: type: enhancement :wolf:, scope: common

#12344 feat(core): instantiate non-static custom classes
  packages/core/injector/module-ref.ts
  packages/core/injector/module.ts
Labels: type: enhancement :wolf:, scope: core

#12413 fix(express): sanity checking 'content-type' prior treating its value as string
  integration/nest-application/sse/src/app.controller.ts
  packages/common/module-utils/configurable-module.builder.ts
  packages/common/module-utils/interfaces/configurable-module-async-options.interface.ts
  packages/common/module-utils/interfaces/configurable-module-cls.interface.ts
  packages/common/pipes/file/file-validator.interface.ts
  packages/core/injector/container.ts
  packages/core/middleware/middleware-module.ts
  packages/core/nest-application-context.ts
  packages/core/test/exceptions/external-exception-filter-context.spec.ts
  packages/core/test/guards/guards-context-creator.spec.ts
  packages/core/test/injector/injector.spec.ts
  packages/core/test/interceptors/interceptors-context-creator.spec.ts
  packages/core/test/pipes/pipes-context-creator.spec.ts
  packages/core/test/router/router-exception-filters.spec.ts
  packages/core/test/router/router-explorer.spec.ts
  packages/microservices/interfaces/message-handler.interface.ts
  packages/microservices/microservices-module.ts
  packages/microservices/record-builders/rmq.record-builder.ts
  packages/microservices/test/client/client-mqtt.spec.ts
  packages/microservices/test/client/client-nats.spec.ts
  packages/microservices/test/client/client-redis.spec.ts
  packages/microservices/test/context/exception-filters-context.spec.ts
  packages/microservices/test/listeners-controller.spec.ts
  packages/microservices/test/server/server-kafka.spec.ts
  packages/microservices/test/server/server-redis.spec.ts
  packages/microservices/test/server/server-rmq.spec.ts
  packages/platform-express/adapters/express-adapter.ts
  packages/platform-express/multer/interceptors/any-files.interceptor.ts
  packages/platform-express/multer/interceptors/file-fields.interceptor.ts
  packages/platform-express/multer/interceptors/file.interceptor.ts
  packages/platform-express/multer/interceptors/files.interceptor.ts
  packages/platform-express/multer/interceptors/no-files.interceptor.ts
  packages/platform-express/multer/interfaces/files-upload-module.interface.ts
  packages/platform-fastify/adapters/fastify-adapter.ts
  packages/platform-fastify/decorators/route-config.decorator.ts
  packages/websockets/socket-module.ts
  packages/websockets/test/context/exception-filters.context.spec.ts
  packages/websockets/test/context/ws-proxy.spec.ts
  sample/02-gateways/e2e/events-gateway/gateway.e2e-spec.ts
  sample/19-auth-jwt/src/auth/auth.guard.ts
  sample/28-sse/src/app.controller.ts
  tools/benchmarks/check-benchmarks.ts
Labels: type: bug :sob:, scope: platform

#12379 Allow Binding to Shared Topics Without Wildcards
  packages/microservices/server/server-mqtt.ts
Labels: type: bug :sob:, scope: microservices

#12382 fix: allow for filters to be aware of the pattern for websockets
  integration/websockets/e2e/gateway.spec.ts
  integration/websockets/src/app.gateway.ts
  integration/websockets/src/request.filter.ts
  packages/websockets/context/ws-context-creator.ts
  packages/websockets/context/ws-proxy.ts
Labels: type: bug :sob:, scope: websockets
