Repository nestjs/nest, pull requests merged in 2023-06, with the labels that each got.

#9809 feat(core): middleware runs once for matching route
  integration/hello-world/e2e/middleware-run-match-route.ts
  packages/core/middleware/builder.ts
Labels: type: enhancement :wolf:, scope: core

#11692 fix(microservices): check length of member partitions on group join
  packages/microservices/client/client-kafka.ts
  packages/microservices/test/client/client-kafka.spec.ts
Labels: type: bug :sob:, scope: microservices

#11036 refactor(common): update log level
  packages/common/services/utils/is-log-level-enabled.util.ts
Labels: scope: common, status: blocked 🚫, type: refactor

#10545 feat: create method on client to get websocket pattern
  integration/websockets/e2e/gateway.spec.ts
  integration/websockets/e2e/ws-gateway.spec.ts
  integration/websockets/src/app.gateway.ts
  integration/websockets/src/request.interceptor.ts
  integration/websockets/src/server.gateway.ts
  packages/common/interfaces/features/arguments-host.interface.ts
  packages/core/helpers/execution-context-host.ts
  packages/websockets/context/ws-context-creator.ts
Labels: type: enhancement :wolf:, scope: websockets

#11667 feat(express): add support for multer.none
  packages/platform-express/multer/interceptors/index.ts
  packages/platform-express/multer/interceptors/no-files.interceptor.ts
  packages/platform-express/test/multer/interceptors/no-files.inteceptor.spec.ts
Labels: type: enhancement :wolf:, scope: platform

#11785 fix(core): apply middleware to versioned controllers (ctrl-level)
  integration/versioning/e2e/uri-versioning.spec.ts
  integration/versioning/src/app.module.ts
  integration/versioning/src/middleware.controller.ts
  integration/versioning/src/multiple-middleware.controller.ts
  integration/versioning/src/neutral-middleware.controller.ts
  packages/core/middleware/middleware-module.ts
  packages/core/middleware/routes-mapper.ts
  packages/core/test/middleware/builder.spec.ts
  packages/core/test/middleware/routes-mapper.spec.ts
Labels: type: bug :sob:

#11822 fix(common): type errors in file validator implementations
  packages/common/pipes/file/file-type.validator.ts
  packages/common/pipes/file/max-file-size.validator.ts
  packages/common/test/pipes/file/file-type.validator.spec.ts
  packages/common/test/pipes/file/max-file-size.validator.spec.ts
Labels: type: bug :sob:, scope: common

#11826 fix(microservices): migrate from deprecated kafka subscribe usage
  packages/microservices/client/client-kafka.ts
  packages/microservices/server/server-kafka.ts
  packages/microservices/test/client/client-kafka.spec.ts
  packages/microservices/test/server/server-kafka.spec.ts
Labels: type: bug :sob:, scope: microservices

#11837 fix(core): when filtering routes ending with slash to apply a nestjs middleware
  packages/core/middleware/builder.ts
Labels: type: bug :sob:, scope: core

#11879 feat: Add optional support to pipes
  packages/common/pipes/parse-bool.pipe.ts
  packages/common/pipes/parse-enum.pipe.ts
  packages/common/pipes/parse-float.pipe.ts
  packages/common/pipes/parse-int.pipe.ts
  packages/common/pipes/parse-uuid.pipe.ts
  packages/common/test/pipes/parse-bool.pipe.spec.ts
  packages/common/test/pipes/parse-enum.pipe.spec.ts
  packages/common/test/pipes/parse-float.pipe.spec.ts
  packages/common/test/pipes/parse-int.pipe.spec.ts
  packages/common/test/pipes/parse-uuid.pipe.spec.ts
Labels: type: enhancement :wolf:, scope: common

#11926 fix(nest): Support RxJS retries and Async Context tracking
  packages/core/interceptors/interceptors-consumer.ts
  packages/core/test/interceptors/interceptors-consumer.spec.ts
Labels: type: bug :sob:, scope: core
