Repository nestjs/nest, pull requests merged in 2023-12, with the labels that each got.

#12817 fix(common): type def for cors delegated callback function option
  packages/common/interfaces/external/cors-options.interface.ts
Labels: type: enhancement :wolf:, scope: common

#12905 feat(core): display module's name on `.select(module)` errors
  packages/common/decorators/core/controller.decorator.ts
  packages/core/errors/exceptions/unknown-module.exception.ts
  packages/core/nest-application-context.ts
  packages/core/nest-factory.ts
  packages/core/router/router-response-controller.ts
  packages/microservices/server/server-rmq.ts
  packages/platform-socket.io/adapters/io-adapter.ts
Labels: type: enhancement :wolf:, scope: core, scope: common

#12924 feat(core): add options parameter to repl
  packages/core/repl/repl.ts
Labels: type: enhancement :wolf:, scope: core

#12915 refactor(microservices): modify rmq options interface
  packages/microservices/external/rmq-url.interface.ts
  packages/microservices/interfaces/microservice-configuration.interface.ts
Labels: scope: microservices, type: refactor

#12175 feat(microservices): Added invalid-grpc-message-decorator.exception.ts
  packages/microservices/decorators/message-pattern.decorator.ts
  packages/microservices/errors/invalid-grpc-message-decorator.exception.ts
Labels: type: enhancement :wolf:, scope: microservices

#12567 feat(fastify): add fastify route constraints
  packages/platform-fastify/adapters/fastify-adapter.ts
  packages/platform-fastify/constants.ts
  packages/platform-fastify/decorators/index.ts
  packages/platform-fastify/decorators/route-constraints.decorator.ts
  packages/platform-fastify/test/decorators/router-constraints.decorator.spec.ts
Labels: type: enhancement :wolf:, scope: platform

#10530 feat(microservices): add package definition option to server-grpc
  packages/microservices/client/client-grpc.ts
  packages/microservices/errors/invalid-grpc-package-definition-missing-package-definition.exception.ts
  packages/microservices/errors/invalid-grpc-package-definition-mutex.exception.ts
  packages/microservices/helpers/grpc-helpers.ts
  packages/microservices/helpers/index.ts
  packages/microservices/interfaces/microservice-configuration.interface.ts
  packages/microservices/server/server-grpc.ts
  packages/microservices/test/client/client-grpc.spec.ts
  packages/microservices/test/helpers/grpc-helpers.spec.ts
  packages/microservices/test/server/server-grpc.spec.ts
Labels: type: enhancement :wolf:, scope: microservices
