Repository nestjs/nest, pull requests merged in 2023-07, with the labels that each got.

#11949 fix(express): improve error reply content-type check
  packages/platform-express/adapters/express-adapter.ts
Labels: type: bug :sob:, scope: platform

#12030 Update socket.io example: Wait for socket to be connected
  sample/02-gateways/e2e/events-gateway/gateway.e2e-spec.ts
Labels: scope: sample

#12031 fix(common): right generic type arg constraint for `FileValidator#isValid` method
  packages/common/pipes/file/file-type.validator.ts
  packages/common/pipes/file/file-validator.interface.ts
  packages/common/pipes/file/max-file-size.validator.ts
Labels: type: bug :sob:, scope: common

#11995 refactor(fastify): updated static options
  packages/platform-fastify/interfaces/external/fastify-static-options.interface.ts
Labels: type: enhancement :wolf:, scope: platform

#12026 fix(microservices): support client cancel grpc request in unary stream
  packages/microservices/client/client-grpc.ts
  packages/microservices/test/client/client-grpc.spec.ts
Labels: type: bug :sob:, scope: microservices

#12020 fix(core): throw on circular factories and custom providers
  integration/injector/e2e/circular-custom-providers.spec.ts
  packages/core/errors/exceptions/circular-dependency.exception.ts
  packages/core/injector/injector.ts
  packages/core/injector/instance-wrapper.ts
  packages/core/injector/settlement-signal.ts
Labels: type: bug :sob:, scope: core

#12035 fix(core): allow importing providers from global modules in lazy modules
  integration/lazy-modules/e2e/lazy-import-global-modules.spec.ts
  integration/lazy-modules/src/app.module.ts
  integration/lazy-modules/src/eager.module.ts
  integration/lazy-modules/src/global.module.ts
  integration/lazy-modules/src/lazy.module.ts
  integration/lazy-modules/src/main.ts
  packages/core/injector/container.ts
  packages/core/injector/lazy-module-loader/lazy-module-loader.ts
  packages/core/scanner.ts
  packages/core/test/injector/injector.spec.ts
  packages/core/test/inspector/graph-inspector.spec.ts
  packages/core/test/nest-application-context.spec.ts
  packages/core/test/repl/native-functions/debug-repl-fn.spec.ts
  packages/core/test/repl/native-functions/methods-repl-fn.spec.ts
Labels: type: bug :sob:, scope: core

#12100 fix(express,fastify): return type of `#listen` method
  packages/platform-express/interfaces/nest-express-application.interface.ts
  packages/platform-fastify/interfaces/nest-fastify-application.interface.ts
Labels: type: bug :sob:, scope: platform

#12166 fix(core): pass application config to nest container when using application context
  packages/core/nest-factory.ts
Labels: type: enhancement :wolf:, scope: core

#12163 fix(core): create completed field on settlement for better tracking
  packages/core/injector/settlement-signal.ts
Labels: type: bug :sob:, scope: core
