Repository nestjs/nest, pull requests merged in 2023-05, with the labels that each got.

#11571 fix(common): `ConsoleLogger` doesn't log stacktrace
  packages/common/services/console-logger.service.ts
  packages/common/services/logger.service.ts
  packages/common/test/services/logger.service.spec.ts
Labels: type: bug :sob:, scope: common

#11549 chore(validation): add ability to pass custom message in file size validator
  packages/common/pipes/file/max-file-size.validator.ts
Labels: type: enhancement :wolf:, scope: common

#11541 feat(microservices): Add isGlobal option to the ClientsModule
  packages/microservices/module/clients.module.ts
  packages/microservices/module/interfaces/clients-module.interface.ts
Labels: type: enhancement :wolf:, scope: microservices

#11600 fix(core): Only update module distance if greater
  packages/core/scanner.ts
Labels: type: bug :sob:, scope: core

#10030 chore: improve typings of `.createBody(…)`
  packages/common/exceptions/http.exception.ts
  packages/common/index.ts
  packages/common/interfaces/http/index.ts
Labels: scope: common, status: blocked 🚫

#11437 fix(microservices): grpc-server handle async interceptors
  packages/microservices/server/server-grpc.ts
  packages/microservices/test/server/server-grpc.spec.ts
Labels: type: bug :sob:, scope: microservices
