Repository nestjs/nest, pull requests merged in 2023-11, with the labels that each got.

#12760 Add consumerTag param on rmq microservice config
  packages/microservices/interfaces/microservice-configuration.interface.ts
  packages/microservices/server/server-rmq.ts
Labels: type: enhancement :wolf:, scope: microservices

#12752 fix(grpc): ensure all buffered values drain
  packages/microservices/server/server-grpc.ts
  packages/microservices/test/server/server-grpc.spec.ts
Labels: type: bug :sob:, scope: microservices

#12702 feat(core): allow using modules and nested route trees in parallel
  packages/core/router/interfaces/routes.interface.ts
  packages/core/router/router-module.ts
  packages/core/test/router/utils/flat-routes.spec.ts
Labels: type: enhancement :wolf:, scope: core

#12673 FIX catch stream errors in grpc
  packages/microservices/server/server-grpc.ts
Labels: type: bug :sob:, scope: microservices

#12769 fix(microservices): fix backpressure with integration test
  integration/microservices/e2e/sum-grpc.spec.ts
  integration/microservices/src/grpc/grpc.controller.ts
  integration/microservices/src/grpc/math.proto
  packages/microservices/server/server-grpc.ts
  packages/microservices/test/server/server-grpc.spec.ts
Labels: type: bug :sob:, scope: microservices
