Repository nestjs/nest, pull requests merged in 2023-03, with the labels that each got.

#11170 Add test case for ParseArrayPipe that doesn't work as expected
  packages/common/pipes/parse-array.pipe.ts
  packages/common/test/pipes/parse-array.pipe.spec.ts
Labels: type: bug :sob:, scope: common

#11186 fix(ws): filter only nil results
  packages/platform-ws/adapters/ws-adapter.ts
Labels: type: bug :sob:, scope: platform

#11044 refactor(common): satisfy function quality in parse-file.pipe.ts
  packages/common/pipes/file/parse-file.pipe.ts
Labels: scope: common, type: refactor

#11280 fix(platform-express): wrong type def for `NestExpressApplication#listen`
  packages/platform-express/adapters/express-adapter.ts
  packages/platform-express/interfaces/nest-express-application.interface.ts
Labels: type: bug :sob:, scope: platform

#11131 fix(common): fix cache ttl not beeing respected
  integration/cache/e2e/custom-ttl.spec.ts
  integration/cache/src/custom-ttl/custom-ttl.controller.ts
  integration/cache/src/custom-ttl/custom-ttl.module.ts
  integration/cache/src/custom-ttl/tsconfig.json
  packages/common/cache/interceptors/cache.interceptor.ts
Labels: type: bug :sob:, scope: common

#11281 perf(common): In case of an expensive log, allow to pass a function
  packages/common/services/console-logger.service.ts
  packages/common/test/services/logger.service.spec.ts
  packages/common/utils/shared.utils.ts
Labels: type: enhancement :wolf:, scope: common

#11129 fix(core): false-positive value provider not registered error when the value is `undefined`
  packages/core/injector/module.ts
  packages/core/test/injector/module.spec.ts
Labels: type: enhancement :wolf:, scope: core

#11392 feat: change updateAndGetTimestampDiff from private to protected
  .gitignore
  integration/graphql-schema-first/src/main.ts
  packages/common/services/console-logger.service.ts
  packages/common/services/logger.service.ts
Labels: scope: common, type: refactor
