Repository nestjs/nest, pull requests merged in 2023-10, with the labels that each got.

#12385 fix(platform-ws): URL parsing error handled
  packages/platform-ws/adapters/ws-adapter.ts
Labels: type: bug :sob:, scope: platform

#12561 fix(common): when passing class functions to logger methods
  packages/common/services/console-logger.service.ts
  packages/common/test/services/logger.service.spec.ts
  packages/core/injector/module.ts
  packages/core/middleware/routes-mapper.ts
  packages/microservices/server/server-mqtt.ts
Labels: type: bug :sob:, scope: common

#12445 feat(core): disambiguate string-based providers from class-based providers on error message
  integration/injector/e2e/optional-factory-provider-dep.spec.ts
  packages/core/errors/messages.ts
  packages/core/test/errors/test/messages.spec.ts
Labels: type: enhancement :wolf:, scope: core

#12519 fix(core): when the discoverable decorator was not used on calling `getProviders`/`getControllers`
  integration/discovery/e2e/discover-by-meta.spec.ts
  integration/discovery/src/decorators/non-applied.decorator.ts
  packages/core/discovery/discoverable-meta-host-collection.ts
Labels: type: bug :sob:, scope: core

#12558 feat: allow for custom logger with streamable files
  packages/common/file-stream/streamable-file.ts
  packages/platform-express/adapters/express-adapter.ts
Labels: type: enhancement :wolf:, scope: common

#12656 fix: add date to ignored metatypes
  packages/common/pipes/validation.pipe.ts
Labels: type: bug :sob:, scope: common
