Repository nestjs/nest, pull requests merged in 2024-02, with the labels that each got.

#13151 fix(packages/microservices): pass inboxPrefix as argument to createInbox
  packages/microservices/client/client-nats.ts
Labels: type: bug :sob:, scope: microservices

#13105 feat(microservices): add type for rmq connection options
  packages/microservices/client/client-rmq.ts
  packages/microservices/external/rmq-url.interface.ts
  packages/microservices/server/server-rmq.ts
Labels: type: enhancement :wolf:, scope: microservices

#13084 fix: #13077 KafkaJs typing consistency
  packages/microservices/external/kafka.interface.ts
Labels: type: bug :sob:, scope: microservices

#13000 fix(core,common): 🐛 missing registration handling of `SEARCH` http verb
  packages/common/interfaces/http/http-server.interface.ts
  packages/core/adapters/http-adapter.ts
  packages/core/helpers/router-method-factory.ts
Labels: type: bug :sob:, scope: core, scope: common

#12974 fix(microservices): send rmq nack without matching message handler
  packages/microservices/constants.ts
  packages/microservices/server/server-rmq.ts
  packages/microservices/test/server/server-rmq.spec.ts
Labels: type: bug :sob:, scope: microservices

#12955 feat: Implement getHeader and appendHeader methods in adapters
  packages/core/adapters/http-adapter.ts
  packages/core/test/utils/noop-adapter.spec.ts
  packages/platform-express/adapters/express-adapter.ts
  packages/platform-fastify/adapters/fastify-adapter.ts
Labels: type: enhancement :wolf:, scope: common, scope: platform

#13193 fix(core): when having multiple versions on middleware routes builder
  packages/common/decorators/http/header.decorator.ts
  packages/core/middleware/builder.ts
  packages/core/middleware/route-info-path-extractor.ts
  packages/core/router/router-response-controller.ts
  packages/core/test/middleware/route-info-path-extractor.spec.ts
Labels: type: bug :sob:, scope: core

#13195 fix(microservices): emit an error to grpc stream before unsubscribe
  packages/microservices/server/server-grpc.ts
Labels: type: bug :sob:, scope: microservices
