Repository nestjs/nest, pull requests merged in 2024-12, with the labels that each got.

#14256 chore(common): Add type declaration for RawBody decorator with pipes
  packages/common/decorators/http/route-params.decorator.ts
Labels: type: bug :sob:, scope: common

#14267 Fix shutdown hooks order
  integration/hooks/e2e/before-app-shutdown.spec.ts
  integration/hooks/e2e/on-app-shutdown.spec.ts
  packages/core/nest-application-context.ts
Labels: type: bug :sob:, scope: core

#14238 chore(deps): upgrade to express v5, fastify v5, add legacy route path converter
  integration/hello-world/e2e/exclude-middleware-fastify.spec.ts
  integration/hello-world/e2e/exclude-middleware.spec.ts
  integration/hello-world/e2e/express-instance.spec.ts
  integration/hello-world/e2e/middleware-class.spec.ts
  integration/hello-world/e2e/middleware-fastify.spec.ts
  integration/hello-world/e2e/middleware.spec.ts
  integration/nest-application/global-prefix/e2e/global-prefix.spec.ts
  integration/nest-application/global-prefix/src/app.module.ts
  lerna.json
  package-lock.json
  package.json
  packages/common/interfaces/http/http-server.interface.ts
  packages/common/package.json
  packages/core/adapters/http-adapter.ts
  packages/core/middleware/route-info-path-extractor.ts
  packages/core/middleware/utils.ts
  packages/core/package.json
  packages/core/router/legacy-route-converter.ts
  packages/core/router/router-explorer.ts
  packages/core/test/middleware/utils.spec.ts
  packages/core/test/router/route-path-factory.spec.ts
  packages/microservices/package.json
  packages/platform-express/adapters/express-adapter.ts
  packages/platform-express/package.json
  packages/platform-fastify/adapters/fastify-adapter.ts
  packages/platform-fastify/package.json
  packages/platform-socket.io/package.json
  packages/platform-ws/package.json
  packages/testing/package.json
  packages/websockets/package.json
Labels: scope: core, scope: platform, dependencies
