Repository nestjs/nest, pull requests merged in 2024-03, with the labels that each got.

#13328 fix(microservices): fix redundant code to emit error
  packages/microservices/server/server-grpc.ts
Labels: scope: microservices, type: refactor

#13317 fix(common): fix stacktrace regex
  packages/common/services/console-logger.service.ts
  packages/common/test/services/logger.service.spec.ts
Labels: type: bug :sob:, scope: common

#13285 fix(microservices): fix rabbitmq no-assert not being applied correctly
  packages/microservices/client/client-rmq.ts
  packages/microservices/server/server-rmq.ts
  packages/microservices/test/client/client-rmq.spec.ts
  packages/microservices/test/server/server-rmq.spec.ts
Labels: type: bug :sob:, scope: microservices

#13283 fix(microservice) Delete unnecessary call of grpcClient.start
  packages/microservices/server/server-grpc.ts
  packages/microservices/test/server/server-grpc.spec.ts
Labels: scope: microservices, type: refactor

#13225 feat(core,common): Add `@RawBody()` decorator
  packages/common/decorators/http/route-params.decorator.ts
  packages/common/enums/route-paramtypes.enum.ts
  packages/core/router/route-params-factory.ts
  packages/core/router/router-execution-context.ts
  packages/core/test/router/route-params-factory.spec.ts
  packages/core/test/router/router-execution-context.spec.ts
Labels: type: enhancement :wolf:, scope: core, scope: common

#13337 fix(core): middleware is not executed for root route when global prefix is set
  integration/nest-application/global-prefix/e2e/global-prefix.spec.ts
  integration/nest-application/global-prefix/src/app.controller.ts
  packages/core/middleware/middleware-module.ts
  packages/core/middleware/route-info-path-extractor.ts
  packages/core/test/middleware/builder.spec.ts
  packages/core/test/middleware/route-info-path-extractor.spec.ts
  packages/platform-fastify/adapters/fastify-adapter.ts
Labels: type: bug :sob:, scope: core

#13366 fix(core): break reference chain to instance object
  packages/core/helpers/context-utils.ts
Labels: type: bug :sob:, scope: core
