Repository nestjs/nest, pull requests merged in 2024-06, with the labels that each got.

#13536 feat(fastify): Do not crash if enableVersioning is not used
  integration/versioning/e2e/default-versioning.spec.ts
  packages/platform-fastify/adapters/fastify-adapter.ts
Labels: type: bug :sob:, scope: platform

#13614 fix(core): prevent exclude method from overwriting previous calls
  integration/hello-world/e2e/exclude-middleware.spec.ts
  packages/core/middleware/builder.ts
Labels: type: enhancement :wolf:, scope: core

#13428 feat(common): support empty `@Inject()` on constructor-based injection
  packages/common/decorators/core/inject.decorator.ts
  packages/core/test/injector/injector.spec.ts
Labels: type: enhancement :wolf:, scope: common

#13405 fix(core): auto flush logs on synchronous internal errors
  packages/core/errors/exceptions-zone.ts
  packages/core/nest-factory.ts
  packages/core/test/errors/test/exceptions-zone.spec.ts
Labels: type: bug :sob:, scope: core

#13392 refactor(microservices): improve speed of grpc server initialization
  packages/microservices/server/server-grpc.ts
Labels: scope: microservices, type: refactor

#13368 refactor(microservices): prevent grpc write promise from throwing
  integration/microservices/e2e/math-grpc.spec.ts
  integration/microservices/src/grpc/grpc.controller.ts
  integration/microservices/src/grpc/math.proto
  packages/microservices/server/server-grpc.ts
  packages/microservices/test/server/server-grpc.spec.ts
Labels: scope: microservices, type: refactor

#13531 fix(ws): close existing connections
  packages/platform-ws/adapters/ws-adapter.ts
Labels: type: enhancement :wolf:, scope: websockets, scope: platform

#13453 fix(core): possible memory leak when using server side events
  packages/core/router/router-response-controller.ts
  packages/core/router/sse-stream.ts
  packages/core/test/router/router-response-controller.spec.ts
Labels: type: bug :sob:, scope: core

#13493 refactor(platform-fastify): use the route method to inject routes
  packages/platform-fastify/adapters/fastify-adapter.ts
Labels: scope: platform, type: refactor
