Repository nestjs/nest, pull requests merged in 2024-10, with the labels that each got.

#14066 test(common): add tests for validation pipe on 'custom' types
  packages/common/test/pipes/validation.pipe.spec.ts
Labels: scope: common

#14064 build(fastify): upgrade light-my-request to 6.1.0
  package-lock.json
  package.json
  packages/platform-fastify/package.json
Labels: dependencies, priority: medium (3)

#14060 build(express): upgrade to express 4.2.1
  package-lock.json
  package.json
  packages/platform-express/package.json
Labels: dependencies

#14085 fix(core): initialize internal core module on preview
  packages/core/injector/internal-core-module/internal-core-module-factory.ts
Labels: type: bug :sob:, scope: core
