Repository nestjs/nest, pull requests merged in 2024-08, with the labels that each got.

#13869 feat(fastify): add type for http options
  packages/platform-fastify/adapters/fastify-adapter.ts
Labels: type: enhancement :wolf:, scope: platform

#13807 fix(platform-fastify): search method not declared
  packages/platform-fastify/adapters/fastify-adapter.ts
Labels: type: bug :sob:, scope: platform

#13731 feat(microservices): grpc package name can be specified with service name
  packages/microservices/server/server-grpc.ts
  packages/microservices/test/server/server-grpc.spec.ts
Labels: type: enhancement :wolf:, scope: microservices

#13378 perf(ws): optimize message handler lookup
  packages/platform-ws/adapters/ws-adapter.ts
Labels: scope: websockets, type: refactor

#13762 fix(core): unhandled promise rejection in interceptors consumer
  packages/core/interceptors/interceptors-consumer.ts
  packages/core/test/interceptors/interceptors-consumer.spec.ts
Labels: type: bug :sob:, scope: core

#13639 feat(common): Added uuid v7 validation regex to ParseUUIDPipe
  packages/common/pipes/parse-uuid.pipe.ts
Labels: type: enhancement :wolf:, scope: common

#13883 fix(microservices): hold nats client connection promise ref
  packages/microservices/client/client-nats.ts
  packages/microservices/test/client/client-nats.spec.ts
Labels: scope: microservices
