Repository nestjs/nest, pull requests merged in 2024-11, with the labels that each got.

#14108 chore(fastify): undeprecate listen method
  packages/platform-fastify/interfaces/nest-fastify-application.interface.ts
Labels: scope: platform

#12764 fix(common): apply options to plaintoclass in classserializerinterceptor
  packages/common/serializer/class-serializer.interceptor.ts
Labels: type: enhancement :wolf:, scope: common, status: blocked 🚫

#13336 feat(core): introduce different module opaque key factories
  packages/common/interfaces/nest-application-context-options.interface.ts
  packages/core/injector/compiler.ts
  packages/core/injector/container.ts
  packages/core/injector/module.ts
  packages/core/injector/opaque-key-factory/by-reference-module-opaque-key-factory.ts
  packages/core/injector/opaque-key-factory/deep-hashed-module-opaque-key-factory.ts
  packages/core/injector/opaque-key-factory/interfaces/module-opaque-key-factory.interface.ts
  packages/core/nest-application-context.ts
  packages/core/test/injector/compiler.spec.ts
  packages/core/test/injector/opaque-key-factory/by-reference-module-opaque-key-factory.spec.ts
  packages/core/test/injector/opaque-key-factory/deep-hashed-module-opaque-key-factory.spec.ts
Labels: type: enhancement :wolf:, scope: core, status: blocked 🚫

#12735 feat(common)!: type narrowing allowed injection tokens for `@Inject()`
  .circleci/install-wrk.sh
  packages/common/decorators/core/inject.decorator.ts
Labels: type: enhancement :wolf:, scope: common, status: blocked 🚫

#13468 fix(microservices): delete unnecessary call of grpcClient.start
  packages/microservices/server/server-grpc.ts
  packages/microservices/test/server/server-grpc.spec.ts
Labels: scope: microservices, status: blocked 🚫

#12761 Be able to use a random port for the TCP server
  packages/microservices/server/server-tcp.ts
Labels: type: enhancement :wolf:, scope: microservices, status: blocked 🚫

#13628 chore(class-transformer): plainToClass is deprectated and replaced with plainToInstance
  packages/common/interfaces/external/transformer-package.interface.ts
  packages/common/pipes/validation.pipe.ts
  packages/common/serializer/class-serializer.interceptor.ts
  sample/01-cats-app/src/common/pipes/validation.pipe.ts
  sample/10-fastify/src/common/pipes/validation.pipe.ts
Labels: status: blocked 🚫

#14114 fix(common)!: drop broken support for promises on `exports` of modules
  packages/common/interfaces/modules/module-metadata.interface.ts
Labels: type: bug :sob:, scope: common

#14097 fix(core): revisit dependencies w/ possibly higher distance
  packages/core/scanner.ts
Labels: type: bug :sob:, scope: core

#14112 fix(microservices): use instance refs for target handler callbacks
  packages/microservices/listener-metadata-explorer.ts
  packages/microservices/test/listeners-metadata-explorer.spec.ts
Labels: type: bug :sob:, scope: microservices

#14113 feat(core): allow overriding abortOnError for the select method
  packages/common/interfaces/nest-application-context.interface.ts
  packages/core/nest-application-context.ts
Labels: type: enhancement :wolf:, scope: core

#14116 refactor(fastify): update fastify static options interface
  packages/platform-fastify/interfaces/external/fastify-static-options.interface.ts
Labels: type: enhancement :wolf:, scope: platform

#14115 chore(fastify): update fastify view options interface
  packages/platform-fastify/interfaces/external/fastify-view-options.interface.ts
Labels: type: enhancement :wolf:, scope: platform

#14134 feat(microservices): add max tcp packet buffer length
  packages/microservices/errors/max-packet-length-exceeded.exception.ts
  packages/microservices/helpers/json-socket.ts
Labels: type: enhancement :wolf:, scope: microservices

#14131 feat(common): allow passing number to http error createBody
  packages/common/exceptions/http.exception.ts
  packages/common/interfaces/http/http-exception-body.interface.ts
Labels: type: enhancement :wolf:, scope: common

#14123 feat(core)!: type narrowing valid entry module for nestjs factories
  packages/core/nest-factory.ts
Labels: scope: core, type: refactor

#14133 fix(core): flaky durable provider, remove instance on error
  .gitignore
  integration/scopes/e2e/durable-providers.spec.ts
  integration/scopes/src/durable/durable-context-id.strategy.ts
  integration/scopes/src/durable/durable.service.ts
  packages/core/injector/injector.ts
  packages/core/injector/instance-wrapper.ts
  packages/core/test/injector/instance-wrapper.spec.ts
Labels: type: bug :sob:, scope: core

#14132 fix(microservices): no messages emitted with mqtt when qos set
  packages/microservices/client/client-mqtt.ts
Labels: type: bug :sob:, scope: microservices

#14139 chore(core): defer application shutdown until init finishes
  packages/core/nest-application-context.ts
  packages/core/test/nest-application-context.spec.ts
Labels: type: enhancement :wolf:, scope: core

#14059 fix(microservices): include discarded rmq client options
  packages/microservices/client/client-rmq.ts
Labels: type: bug :sob:, scope: microservices

#14155 build(sample): replace cli-color with smaller and faster ansis
  package.json
  tools/gulp/tasks/samples.ts
Labels: type: build, dependencies

#14111 fix(core): Order of module destroy should be the reverse of module init
  integration/hooks/e2e/on-module-destroy.spec.ts
  packages/core/nest-application-context.ts
Labels: type: bug :sob:, scope: core

#14110 fix(core): Calculate module distance after bindGlobalScope
  integration/hooks/e2e/on-module-init.spec.ts
  packages/core/scanner.ts
Labels: type: bug :sob:, scope: core

#13388 Сorrection of `Reflector` types
  packages/core/services/reflector.service.ts
Labels: type: bug :sob:, scope: core

#12235 fix(core): fix type and return value of `Reflector#getAllAndMerge`
  packages/core/services/reflector.service.ts
  packages/core/test/services/reflector.service.spec.ts
Labels: type: bug :sob:, scope: core, status: blocked 🚫

#14129 fix: rabbitmq bindings and auto-generated queues
  packages/microservices/client/client-rmq.ts
  packages/microservices/constants.ts
  packages/microservices/interfaces/microservice-configuration.interface.ts
  packages/microservices/server/server-rmq.ts
Labels: type: bug :sob:, scope: microservices

#14127 feat(ws): introduce message parser for ws adapter
  integration/websockets/e2e/ws-gateway.spec.ts
  packages/platform-ws/adapters/ws-adapter.ts
Labels: type: enhancement :wolf:, scope: platform

#14121 feat(common): json logger and a few other improvements
  packages/common/file-stream/streamable-file.ts
  packages/common/services/console-logger.service.ts
  packages/common/test/services/logger.service.spec.ts
  packages/core/errors/exception-handler.ts
  packages/core/exceptions/base-exception-filter.ts
  packages/core/exceptions/external-exception-filter.ts
  packages/core/test/errors/test/exception-handler.spec.ts
  packages/microservices/exceptions/base-rpc-exception-filter.ts
  packages/microservices/server/server-grpc.ts
  packages/websockets/exceptions/base-ws-exception-filter.ts
Labels: type: enhancement :wolf:, scope: common

#13407 feat: add multer error fieldname to the exception message
  packages/platform-express/multer/multer/multer.utils.ts
  packages/platform-express/test/multer/multer/multer.utils.spec.ts
Labels: type: enhancement :wolf:, scope: platform

#12622 feat: allow for microservice options to come from the di container
  integration/microservices/e2e/sum-rpc-async.spec.ts
  packages/microservices/interfaces/microservice-configuration.interface.ts
  packages/microservices/nest-microservice.ts
Labels: type: enhancement :wolf:, type: feature :tada:, scope: microservices

#13924 feat(microservices): add gracefull shutdown option for nats server
  packages/microservices/constants.ts
  packages/microservices/external/nats-client.interface.ts
  packages/microservices/interfaces/microservice-configuration.interface.ts
  packages/microservices/server/server-nats.ts
  packages/microservices/test/server/server-nats.spec.ts
Labels: type: enhancement :wolf:, scope: microservices

#14051 chore: add sample on how to use esm on cjs
  sample/34-using-esm-packages/.eslintrc.js
  sample/34-using-esm-packages/.gitignore
  sample/34-using-esm-packages/.prettierrc
  sample/34-using-esm-packages/README.md
  sample/34-using-esm-packages/nest-cli.json
  sample/34-using-esm-packages/package-lock.json
  sample/34-using-esm-packages/package.json
  sample/34-using-esm-packages/src/app.controller.spec.ts
  sample/34-using-esm-packages/src/app.controller.ts
  sample/34-using-esm-packages/src/app.module.ts
  sample/34-using-esm-packages/src/app.service.ts
  sample/34-using-esm-packages/src/import-esm-package.ts
  sample/34-using-esm-packages/src/main.ts
  sample/34-using-esm-packages/src/superjson.provider.ts
  sample/34-using-esm-packages/test/app.e2e-spec.ts
  sample/34-using-esm-packages/test/jest-e2e.json
  sample/34-using-esm-packages/tsconfig.build.json
  sample/34-using-esm-packages/tsconfig.json
  sample/35-use-esm-package-after-node22/.eslintrc.js
  sample/35-use-esm-package-after-node22/.gitignore
  sample/35-use-esm-package-after-node22/.prettierrc
  sample/35-use-esm-package-after-node22/README.md
  sample/35-use-esm-package-after-node22/nest-cli.json
  sample/35-use-esm-package-after-node22/package-lock.json
  sample/35-use-esm-package-after-node22/package.json
  sample/35-use-esm-package-after-node22/src/app.controller.ts
  sample/35-use-esm-package-after-node22/src/app.module.ts
  sample/35-use-esm-package-after-node22/src/app.service.ts
  sample/35-use-esm-package-after-node22/src/main.ts
  sample/35-use-esm-package-after-node22/tsconfig.build.json
  sample/35-use-esm-package-after-node22/tsconfig.json
  tools/gulp/tasks/samples.ts
Labels: scope: sample

#12954 feat: emit batch
  packages/microservices/client/client-kafka.ts
  packages/microservices/test/client/client-kafka.spec.ts
Labels: type: enhancement :wolf:, scope: microservices

#14163 fix(microservices): grpc client streaming bugs
  packages/microservices/decorators/message-pattern.decorator.ts
  packages/microservices/server/server-grpc.ts
Labels: type: bug :sob:, scope: microservices

#13887 Add unit tests for sample 06-mongoose
  sample/06-mongoose/package-lock.json
  sample/06-mongoose/package.json
  sample/06-mongoose/src/cats/cats.controller.spec.ts
  sample/06-mongoose/src/cats/cats.controller.ts
  sample/06-mongoose/src/cats/cats.service.spec.ts
  sample/06-mongoose/src/cats/cats.service.ts
  sample/06-mongoose/src/cats/dto/update-cat.dto.ts
Labels: scope: sample

#12790 test(sample-12): added unit and e2e tests
  sample/12-graphql-schema-first/e2e/cats/cats.e2e-spec.ts
  sample/12-graphql-schema-first/e2e/jest-e2e.json
  sample/12-graphql-schema-first/package-lock.json
  sample/12-graphql-schema-first/package.json
  sample/12-graphql-schema-first/src/cats/cat-owner.resolver.spec.ts
  sample/12-graphql-schema-first/src/cats/cats.resolver.spec.ts
  sample/12-graphql-schema-first/src/cats/cats.service.spec.ts
  sample/12-graphql-schema-first/src/cats/dto/create-cat.dto.ts
  sample/12-graphql-schema-first/src/owners/owners.service.spec.ts
Labels: scope: sample

#14175 fix(common,core): align the logic of optional provider
  packages/common/module-utils/utils/get-injection-providers.util.ts
  packages/common/test/module-utils/utils/get-injection-providers.util.spec.ts
  packages/core/injector/injector.ts
Labels: type: enhancement :wolf:, scope: common

#14182 feat(common): introduce intrinsic exception
  packages/common/exceptions/http.exception.ts
  packages/common/exceptions/index.ts
  packages/common/exceptions/intrinsic.exception.ts
  packages/core/exceptions/base-exception-filter.ts
  packages/core/exceptions/external-exception-filter.ts
  packages/microservices/exceptions/base-rpc-exception-filter.ts
  packages/websockets/exceptions/base-ws-exception-filter.ts
Labels: type: enhancement :wolf:, scope: common

#14184 feat(websockets): include exception cause to associate error with req
  integration/websockets/e2e/error-gateway.spec.ts
  packages/websockets/exceptions/base-ws-exception-filter.ts
  packages/websockets/test/exceptions/ws-exceptions-handler.spec.ts
Labels: type: enhancement :wolf:, scope: websockets

#13797 fix(fastify-adapter): middleware not executed when root path is excluded
  integration/hello-world/e2e/middleware-fastify.spec.ts
  packages/platform-fastify/adapters/fastify-adapter.ts
Labels: type: bug :sob:, scope: platform

#13804 fix(core): dependencies not resolving for transient lazy providers
  integration/lazy-modules/e2e/lazy-import-transient-providers.spec.ts
  integration/lazy-modules/src/eager.module.ts
  integration/lazy-modules/src/lazy.controller.ts
  integration/lazy-modules/src/transient.module.ts
  integration/lazy-modules/src/transient.service.ts
  packages/core/injector/module.ts
Labels: type: bug :sob:, scope: core

#14200 feat(microservices): support nats queue per handler
  packages/microservices/server/server-nats.ts
  packages/microservices/test/server/server-nats.spec.ts
Labels: type: enhancement :wolf:, scope: microservices

#14181 fix(common): fallback to empty string for enums when validating (swc builder)
  packages/common/pipes/validation.pipe.ts
Labels: type: bug :sob:, scope: common

#14185 fix(websockets): Prevent HTTP server early close in Socket.IO shutdown
  integration/websockets/e2e/gateway.spec.ts
  integration/websockets/src/server.gateway.ts
  packages/websockets/adapters/ws-adapter.ts
  packages/websockets/socket-module.ts
Labels: type: bug :sob:, scope: websockets

#13923 fix(core): merge req context with tenant payload in the request instance
  integration/scopes/e2e/durable-providers.spec.ts
  integration/scopes/src/durable/durable-context-id.strategy.ts
  integration/scopes/src/durable/durable.controller.ts
  integration/scopes/src/durable/durable.module.ts
  integration/scopes/src/durable/durable.service.ts
  integration/scopes/src/durable/non-durable.service.ts
  packages/core/middleware/middleware-module.ts
  packages/core/router/router-explorer.ts
  packages/microservices/listeners-controller.ts
Labels: type: bug :sob:, scope: core

#14204 fix(websockets): ensure non-shared servers call close method
  packages/platform-socket.io/adapters/io-adapter.ts
  packages/websockets/adapters/ws-adapter.ts
Labels: type: bug :sob:, scope: websockets

#14213 feat(common): add error messages for file validators
  packages/common/pipes/file/file-type.validator.ts
  packages/common/pipes/file/max-file-size.validator.ts
  packages/common/test/pipes/file/file-type.validator.spec.ts
  packages/common/test/pipes/file/max-file-size.validator.spec.ts
Labels: type: enhancement :wolf:, scope: common
