Repository nestjs/nest, pull requests merged in 2025-01, with the labels that each got.

#14443 fix: use express body-parser reexports
  packages/platform-express/adapters/express-adapter.ts
  packages/platform-express/package.json
Labels: type: enhancement :wolf:, scope: platform

#14469 feat(microservices): return all clients from kafka unwrap
  packages/microservices/server/server-kafka.ts
Labels: type: enhancement :wolf:, scope: microservices

#14495 fix(core): global module middleware should be executed first
  integration/hello-world/e2e/middleware-execute-order.spec.ts
  packages/core/middleware/middleware-module.ts
Labels: type: bug :sob:, scope: core

#14522 fix(core): allow optional named wildcard groups
  integration/hello-world/e2e/middleware-fastify.spec.ts
  packages/core/middleware/route-info-path-extractor.ts
Labels: type: bug :sob:, scope: core

#14523 fix: middleware sort issues
  integration/hello-world/e2e/middleware-execute-order.spec.ts
  packages/core/middleware/middleware-module.ts
Labels: type: bug :sob:, scope: core
