Repository nestjs/nest, pull requests merged in 2025-05, with the labels that each got.

#15061 fix(core): bring back `getHeader` and `appendHeader` methods from `AbstractHttpAdapter`
  packages/core/adapters/http-adapter.ts
  packages/core/test/utils/noop-adapter.spec.ts
  packages/platform-fastify/adapters/fastify-adapter.ts
Labels: type: bug :sob:, scope: core

#15062 fix(microservices): ensure all redis and amqp client closes properly
  packages/microservices/client/client-redis.ts
  packages/microservices/client/client-rmq.ts
  packages/microservices/test/client/client-redis.spec.ts
  packages/microservices/test/client/client-rmq.spec.ts
Labels: type: bug :sob:, scope: microservices

#15072 feat(microservices): Add exchange arguments to RabbitMQ
  packages/microservices/client/client-rmq.ts
  packages/microservices/interfaces/microservice-configuration.interface.ts
  packages/microservices/server/server-rmq.ts
Labels: type: enhancement :wolf:, scope: microservices

#15056 fix(core): HTTP adapter error mapping
  packages/core/router/routes-resolver.ts
  packages/core/test/router/routes-resolver.spec.ts
Labels: type: bug :sob:, scope: core

#15057 feat(microservices): Allow custom exchangeType as string for plugin compatibility
  packages/microservices/interfaces/microservice-configuration.interface.ts
Labels: type: enhancement :wolf:, scope: microservices

#14606 feat(microservices): add specific transport id to microservices
  packages/microservices/interfaces/custom-transport-strategy.interface.ts
  packages/microservices/interfaces/microservice-configuration.interface.ts
  packages/microservices/server/server-factory.ts
  packages/microservices/server/server-grpc.ts
  packages/microservices/server/server-kafka.ts
  packages/microservices/server/server-mqtt.ts
  packages/microservices/server/server-nats.ts
  packages/microservices/server/server-redis.ts
  packages/microservices/server/server-rmq.ts
  packages/microservices/server/server-tcp.ts
  packages/microservices/server/server.ts
  packages/microservices/test/server/server-factory.spec.ts
Labels: type: enhancement :wolf:, scope: microservices

#15166 fix(microservice): prevent error logs during redis client shutdown
  packages/microservices/client/client-redis.ts
  packages/microservices/test/client/client-redis.spec.ts
Labels: type: bug :sob:, scope: microservices

#15172 fix(microservices): support custom strategy in async usefactory config
  packages/microservices/nest-microservice.ts
  packages/microservices/test/nest-microservice.spec.ts
Labels: type: bug :sob:, scope: core

#15201 fix(core): gracefully shutdown the app when repl exits
  integration/repl/e2e/repl-process.spec.ts
  integration/repl/src/database/database.connection.ts
  integration/repl/src/database/database.module.ts
  integration/repl/src/long-living-app.module.ts
  integration/repl/src/repl.ts
  packages/core/repl/repl.ts
Labels: type: bug :sob:, scope: core

#15203 feat(core): defer initialization connected microservice
  packages/common/interfaces/microservices/nest-hybrid-application-options.interface.ts
  packages/core/nest-application.ts
  packages/core/test/nest-application.spec.ts
Labels: type: enhancement :wolf:, scope: core
