Repository nestjs/nest, pull requests merged in 2025-04, with the labels that each got.

#14895 fix(fastify-adapter): global prefix exclusion path handling w/middleware
  integration/hello-world/e2e/middleware-fastify.spec.ts
  packages/platform-fastify/adapters/fastify-adapter.ts
Labels: type: bug :sob:, scope: platform

#14511 fix(fastify): adds the non-standard http methods to the instance
  packages/platform-fastify/adapters/fastify-adapter.ts
Labels: type: bug :sob:, scope: platform

#14935 fix(fastify): methods comparison
  packages/platform-fastify/adapters/fastify-adapter.ts
Labels: type: bug :sob:, scope: platform

#14974 refactor(common): Prevent JavaScript being wrapped in `eval`
  package-lock.json
  package.json
  packages/common/pipes/file/file-type.validator.ts
Labels: scope: common, type: refactor

#14980 test(common): Fix invalid file type test
  packages/common/test/pipes/file/file-type.validator.spec.ts
Labels: scope: common

#14540 feat(microservices): add support for topic exchange (rabbitmq)
  integration/microservices/e2e/topic-exchange-rmq.spec.ts
  integration/microservices/src/rmq/topic-exchange-rmq.controller.ts
  packages/microservices/client/client-rmq.ts
  packages/microservices/interfaces/microservice-configuration.interface.ts
  packages/microservices/server/server-rmq.ts
  tools/gulp/tasks/move.ts
Labels: type: enhancement :wolf:, scope: microservices

#15020 fix(microservices): ensure all redis connections are closed
  packages/microservices/server/server-redis.ts
  packages/microservices/test/server/server-redis.spec.ts
Labels: type: bug :sob:, scope: microservices

#15010 feat: remove use of pipeline
  packages/platform-express/adapters/express-adapter.ts
Labels: type: bug :sob:, scope: platform

#15032 fix(microservices): ensure all the amqp connections are closed properly
  packages/microservices/server/server-rmq.ts
  packages/microservices/test/server/server-rmq.spec.ts
Labels: type: bug :sob:, scope: microservices
