Repository nestjs/nest, pull requests merged in 2025-07, with the labels that each got.

#15374 feat: supporting fine async storage control
  packages/core/guards/guards-consumer.ts
  packages/core/test/guards/guards-consumer.spec.ts
Labels: type: enhancement :wolf:, scope: core

#15305 fix(microservices): Revisit RMQ pattern matching with wildcards
  packages/microservices/constants.ts
  packages/microservices/server/server-rmq.ts
  packages/microservices/test/server/server-rmq.spec.ts
Labels: type: bug :sob:, scope: microservices

#15333 fix(core): Make flattenRoutePath return a valid module
  packages/core/router/utils/flatten-route-paths.util.ts
  packages/core/test/router/utils/flat-routes.spec.ts
Labels: type: bug :sob:, scope: core

#14789 feat(fastify): add decorator for custom schema
  packages/platform-fastify/adapters/fastify-adapter.ts
  packages/platform-fastify/constants.ts
  packages/platform-fastify/decorators/index.ts
  packages/platform-fastify/decorators/route-schema.decorator.ts
  packages/platform-fastify/test/decorators/router-schema.decorator.spec.ts
Labels: type: enhancement :wolf:, scope: platform
