Repository nestjs/nest, pull requests merged in 2025-02, with the labels that each got.

#14574 fix(platform-express) make check for existing middlewares work with Express 5
  packages/platform-express/adapters/express-adapter.ts
Labels: type: bug :sob:, scope: platform

#14546 fix(common): addLeadingSlash optional group support
  packages/common/test/utils/shared.utils.spec.ts
  packages/common/utils/shared.utils.ts
Labels: type: bug :sob:, scope: common

#14586 chore(sample): drop useless files from samples 19,26,27,30,31,32
  sample/19-auth-jwt/src/app.controller.spec.ts
  sample/19-auth-jwt/src/app.controller.ts
  sample/19-auth-jwt/src/app.module.ts
  sample/19-auth-jwt/src/app.service.spec.ts
  sample/19-auth-jwt/src/app.service.ts
  sample/26-queues/src/app.controller.spec.ts
  sample/26-queues/src/app.controller.ts
  sample/26-queues/src/app.module.ts
  sample/26-queues/src/app.service.ts
  sample/27-scheduling/src/app.controller.spec.ts
  sample/27-scheduling/src/app.controller.ts
  sample/27-scheduling/src/app.module.ts
  sample/27-scheduling/src/app.service.ts
  sample/30-event-emitter/src/app.controller.spec.ts
  sample/30-event-emitter/src/app.controller.ts
  sample/30-event-emitter/src/app.module.ts
  sample/30-event-emitter/src/app.service.ts
  sample/31-graphql-federation-code-first/gateway/src/app.controller.spec.ts
  sample/31-graphql-federation-code-first/gateway/src/app.controller.ts
  sample/31-graphql-federation-code-first/gateway/src/app.module.ts
  sample/31-graphql-federation-code-first/gateway/src/app.service.ts
  sample/31-graphql-federation-code-first/posts-application/src/app.controller.spec.ts
  sample/31-graphql-federation-code-first/posts-application/src/app.controller.ts
  sample/31-graphql-federation-code-first/posts-application/src/app.module.ts
  sample/31-graphql-federation-code-first/posts-application/src/app.service.ts
  sample/31-graphql-federation-code-first/users-application/src/app.controller.spec.ts
  sample/31-graphql-federation-code-first/users-application/src/app.controller.ts
  sample/31-graphql-federation-code-first/users-application/src/app.module.ts
  sample/31-graphql-federation-code-first/users-application/src/app.service.ts
  sample/32-graphql-federation-schema-first/gateway/src/app.controller.spec.ts
  sample/32-graphql-federation-schema-first/gateway/src/app.controller.ts
  sample/32-graphql-federation-schema-first/gateway/src/app.module.ts
  sample/32-graphql-federation-schema-first/gateway/src/app.service.ts
  sample/32-graphql-federation-schema-first/posts-application/src/app.controller.spec.ts
  sample/32-graphql-federation-schema-first/posts-application/src/app.controller.ts
  sample/32-graphql-federation-schema-first/posts-application/src/app.module.ts
  sample/32-graphql-federation-schema-first/posts-application/src/app.service.ts
  sample/32-graphql-federation-schema-first/users-application/src/app.controller.spec.ts
  sample/32-graphql-federation-schema-first/users-application/src/app.controller.ts
  sample/32-graphql-federation-schema-first/users-application/src/app.module.ts
  sample/32-graphql-federation-schema-first/users-application/src/app.service.ts
Labels: scope: sample

#14579 fix(common): revert to original value (swc builders regression)
  packages/common/pipes/validation.pipe.ts
Labels: type: bug :sob:, scope: common

#14605 fix(microservices): server send drops emitted value
  packages/microservices/server/server.ts
Labels: type: bug :sob:, scope: microservices

#14640 fix(platform-express) respect custom parser middlewares in Express 5
  packages/platform-express/adapters/express-adapter.ts
  packages/platform-express/test/adapters/express-adapter.spec.ts
Labels: type: bug :sob:, scope: platform

#14677 perf: Switch deprecated parser querystring for fast-querystring
  packages/platform-fastify/adapters/fastify-adapter.ts
  packages/platform-fastify/package.json
Labels: type: enhancement :wolf:, scope: platform
