Repository nestjs/nest, pull requests merged in 2025-03, with the labels that each got.

#14802 feat(core): add options to the legacy route converter
  packages/core/router/legacy-route-converter.ts
Labels: type: enhancement :wolf:, scope: core

#14792 fix(core): dependencies not resolving for request-scoped lazy providers
  integration/lazy-modules/e2e/lazy-import-request-providers.spec.ts
  integration/lazy-modules/src/lazy.controller.ts
  integration/lazy-modules/src/request.module.ts
  integration/lazy-modules/src/request.service.ts
  packages/core/injector/module.ts
Labels: type: bug :sob:, scope: core

#14803 fix(core): infinite loop on broken circular reference
  packages/core/injector/instance-wrapper.ts
Labels: type: bug :sob:, scope: core

#14869 fix(microservices): do not re-create client connection once get client by service name
  packages/microservices/client/client-grpc.ts
Labels: type: bug :sob:, scope: microservices
